@import "../node_modules/bootstrap/scss/functions";

$body-bg-dark: #222;
$border-color-translucent-dark: rgba(250, 250, 250, .125);
$border-color-dark: rgba(250, 250, 250, .125);
$body-color-dark: #e1e1e1;

$modal-content-bg: #2f2f2f;
$nav-tabs-link-active-bg: #2f2f2f;
$modal-backdrop-opacity: .85;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/nav";

@font-face {
  font-family: 'srb2k-normal';
  /* The name you want to give to your custom font */
  src: url('../fonts/srb2k-normal.otf') format('opentype');
  /* Specify the path to your font file and its format */
  /* You can also provide additional font properties like font-weight and font-style if needed */
}

@font-face {
  font-family: 'srb2k-outlined';
  /* The name you want to give to your custom font */
  src: url('../fonts/srb2k-outlined.otf') format('opentype');
  /* Specify the path to your font file and its format */
  /* You can also provide additional font properties like font-weight and font-style if needed */
}

.font-outlined {
  font-family: 'srb2k-outlined', sans-serif;
}

.font-standard {
  font-family: 'srb2k-normal', sans-serif;
}

.translate-end-x {
  transform: translateX(-100%) !important;
}

.translate-end-y {
  transform: translateY(-100%) !important;
}

.sharp-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
