body {
    font-family: verdana;
    font-size: 75%;
    width: 100%;

    background: #1f1f1f url('./body_bg.png') repeat 0 0;
    overflow-x: hidden;
}

.main-center {
    background-color: aliceblue;
    min-height: 400px;
}

.article {
    border: 1px solid #A8A8A8;
    border-radius: 8px;
    /* max-width: 50em; */
    font-size: 90%;
}

.article-header {
    padding: 1em;
    margin: 0.5em;
    background: linear-gradient(0deg, rgba(31, 78, 163, 1) 36%, rgba(41, 100, 207, 1) 90%);
}

#navbar-primary,
#navbar-secondary {
    list-style: none outside;
    margin: 0;
    padding: 0;
    background: #2358b8 url('./navbar_mask.png') repeat-x 0 0;
}

#navbar-secondary {
    float: right;
}

#navbar-primary>li,
#navbar-secondary>li {
    display: inline;
    border-left: 1px solid #1B4591;
    float: left;
}

.navbar-link>a {
    padding: 0 10px;
    line-height: 27px;
    text-align: center;

    color: #FFF;
    text-decoration: none;
    display: block;
}

.navbar-link>a:hover {
    color: #EEE;
    background-color: #1548AE;
}

.navbar-link.external-link>a:hover {
    color: #EEE;
    background-color: #00076e;
}

header {
    background: #2358b8 url('./navbar_mask.png') repeat-x 0 0;
    overflow: hidden;
}

#banner {
    background: linear-gradient(0deg, rgba(31, 78, 163, 1) 36%, rgba(41, 100, 207, 1) 90%);
    display: flex;
}

#banner-left {
    display: flex;
}

#info,
#get-started {
    display: flex;
    font-size: 90%;
}

#info>ul {
    color: #EEE;
    list-style: none outside;
    align-self: center;
    padding: 1em;
}

#get-started>ul {
    color: #EEE;
    list-style: none outside;
    align-self: center;
    padding: 1em;
    text-align: right;
}

#banner-right {
    margin-left: auto;
    display: flex;
}

#info>ul>li,
#get-started>ul>li {
    padding: 2px;
}

.element-center {
    width: 80em;
    margin: 0 auto;
}

#announcement-container {
    overflow: hidden;
}

#announcement {
    background: rgb(37, 159, 119);
    padding: 3px 0;
}

#announcement>span {
    color: #eee;
    display: block;
    animation: marquee 15s linear infinite;
}

@-webkit-keyframes marquee {
    0% {
        -webkit-transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-80%);
    }
}

#funny-ads-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: 1em 0;
}

#corner-ad {
    position: fixed;
    right: 0px;
    bottom: -5px;
    z-index: -1;
}

.server-player-count > img.player-sphere {
    animation: newlink 1s ease-in-out infinite;
}

@keyframes newlink {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}