#home {
    color: #FFF;
}

#information {
    display: flex;
    gap: 10px;
    padding: 20px;
}

.welcome {
    margin: 0.5em;
}

.article-info {
    color: black;
}

#replay > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#summary {
    width: 710px;
    align-self: center;
}

.affilate {
    padding: 0.8em;
    background: linear-gradient(0deg, rgba(207,138,41,1) 36%, rgba(207,177,41,1) 90%);
}

.news {
    padding: 0.8em;
    background: linear-gradient(0deg, rgba(133,27,135,1) 36%, rgba(161,31,164,1) 90%);
}

.good-news {
    padding: 0.8em;
    background: linear-gradient(0deg, rgba(45,164,31,1) 30%, rgba(38,213,79,1) 84%);
}
#welcome-to-kartinvidya {
    display: flex;
}

#welcome-day {
    margin-left: auto;
}

#shoutouts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-image {
    padding: 5px;
    align-self:center;
}
.banner {
    display: flex;
    flex-direction: row;
}

.banner-info {
    padding: 10px;
    max-width: 50%;
    align-self: center;
}

.banner-just-info {
    padding-left: 10px;
}