.scoreboard {
    min-height: 90;
}
.scoreboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 96%;
    gap: 10px;

    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
}

.ajax-loader {
    padding: 2em 0;
}

.autocomplete {
    display: inline-block;
    position: relative;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #515151;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items > div {
    padding: 2px;
    cursor: pointer;
    background-color: #d4d4d4;
    border-bottom: 1px solid #515151;
}

.autocomplete-items div:nth-child(odd) {
    background-color: #eee;
}

.search-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.hidden {
    display: none !important;
}

#searchButton {
    padding: 0.4em 0.8em;
    font-size: 110%;
    font-weight: bold;

    color: black;

    background: linear-gradient(0deg, rgba(255,172,52,1) 12%, rgba(255,216,43,1) 45%);
    border: 0;
    border-radius: 8px;
}

#searchButton:hover {
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255,172,52,1) 12%, rgba(255,216,43,1) 45%);
}

#actual-scoreboards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    align-self: start;
    width: 100%;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
}

.list-group li:first-child {
    border-radius: 8px 8px 0px 0px;    
}

.row {
    display: flex;
    text-align: center;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .3rem 1rem;
    text-decoration: none;
    border: 1px solid rgba(250,250,250,.125);
}

.subleaderboard > ol > .list-group-item:nth-child(odd) {
    background-color: #d4d4d4;
}

.listBorderRight {
    border-right: 0.5px dotted rgba(0, 0, 0, .9);
}

.leaderboardHover:hover {
    cursor: pointer;
    background-color: #444 !important;
    color: #eee;
}

.noPadding {
    padding: 0;
}

.subleaderboard > .list-group {
    border: 1px solid #A8A8A8;
    border-radius: 8px;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.IAmAnAttentionWhore {
    font-size: 0.8em;
}

#playerTable {
    min-width: 80%;
}

#playerTable > hr {
    background-color: #A8A8A8;
    border: 0 none;
    color: #A8A8A8;
    height: 1px;
}

.player-name {
    color: #eee;
    font-weight: bold;
    font-size: 120%;
    background: linear-gradient(94deg, rgba(31,78,163,1) 42%, rgba(255,255,255,0) 95%);

    margin: 0;
    border-radius: 8px 8px 0px 0px;

    border-bottom: 1px dotted #A8A8A8;
}

#player-overview > .tabs {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#player-overview {
    margin: 10px 10px;
}

.tabs li.tab-item:first-child {
    border-left: 1px solid #bbb;
}
.tabs li.tab-item:last-child {
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

li.tab-item {
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
}

li.tab-item > button {
    color: black;
    border-bottom: 1px solid #bbb !important;
}

li.tab-item.selected > button {
    color: black;
    border-bottom: 0 !important;
}

li.tab-item > button {
    border: none;

    border-color: #ccc;
    display: block;
    padding: .8em 1em;
    background: linear-gradient(180deg, rgb(224, 224, 224) 25%, rgba(255,255,255,0) 100%);

    font-weight: bold;    
    text-align: center;

    color: #acacac;
}

li.tab-item > button:hover {
    cursor: pointer;
    color: darkblue;
}

.tab-content {
    border: 1px solid #bbb;
    border-top: 0;
}

.col {
    flex: 1 0 0%;
}

.row-2 {
    display: flex;
    text-align: center;
    flex-wrap: wrap;

    margin-left: 0;
    margin-right: 0;
}

.phonetext {
    font-size: 1.2em;
    margin: 0;
}

.progress {
    display: flex;
    overflow: hidden;
    font-size: .75rem;
    background-color: #3b3b3b;
    border-radius: .25rem;
}

.row > .progress {
    flex-shrink: 0;
    width: 98%;
    max-width: 100%;

    margin-left: auto;
    margin-right: auto;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #111;
    text-align: center;
    white-space: nowrap;
}

.h6longtext {
    margin: 0;
    font-size: 110% !important;
}

#points-summary > div.col > div.row > div.col > h5, h6,
#medals > div.col > div.row > div.col > h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

div#medals > div.col > div.row > div.col > h5, h6 {
    font-size: 120% !important;
}

#points-summary > div.col > div.row > div.col > h5, h6 {
    font-size: 0.7rem !important;
    font-weight: normal;
}

#points-summary > div.col > div.row > div.col > h5 {
    font-size: 1rem !important;
}

.text-muted {
    color: #9e9e9e !important;
}

.mb-2 { 
    margin-bottom: .5rem !important;
}

#overview-tab { 
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
}

.hidden-tab {
    display: none !important;
}
.tabs li.tab-item:last-child {
    border-top: 0;
    border-right: 0;
    border-top: 0;
    flex: 1;
}

#details > .row {
    width: 100%;
    max-width: 100%;
}

.border-right {
    border-right: 1px solid #bbb;
}

.tBorderRight {
    border-right: 1px solid #bbb;
}

.tBorderBottom {
    border-bottom: 1px solid #bbb;
}

.tBorderLeft {
    border-left: 1px solid #bbb;
}

.tBorderTop {
    border-top: 1px solid #bbb;
}

.ks-1440 {
    display: flex;
}

.ks-576 {
    display: none;
}

.col-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
}

#player-name-header {
    display: flex;
    align-items: center;

    padding: 0.1rem 0.5rem;
}

#closeButton {
    box-sizing: content-box;
    width: 1em;
    padding: .25em .25em;
    background: none;
    border: 0;
    border-radius: .25rem;

    font-size: 1.2rem;
}

#closeButton:hover {
    cursor: pointer;
}

.hidden-table, .not-loaded {
    display: none !important;
}

#scoreboard-main-container {
    width: 100%;
}

.scoreboard {
    min-height: unset;
}

#extra-player-data-container {
    padding: 0.2rem 0.5rem !important;
}

#extra-player-data {
    display: flex;
    gap: 10px;
}

.badge {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playerNameContainer {
    display: flex;
    flex-direction: column;
    padding: 5px
}

#modalPlayerName {
    padding-bottom: 3px;
}

#playerTotalPlaytime {
    font-size: 10px;
}