
.server-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 10em;
    margin: 0 0.5em;
    gap: 10px;
}

.funny-image {
    display: flex;
    align-self: center;
}

.server-table {
    min-width: 80%;
}

.server-name > h2 {
    margin: 0;
}
.server-table > hr {
    margin: 0.5 0em;
    background-color: #A8A8A8;
    border: 0 none;
    color: #A8A8A8;
    height: 1px;
}

.server-summary {
    display: flex;
    align-items: center;
    margin: 0.5em;
}

.server-small-summary {
    padding: 4px;
    background: rgb(31,78,163);
    border-radius: 0px 0px 8px 8px;
    color: #FFF;
}

.server-small-summary-unreachable {
    padding: 4px;
    background: rgb(57,57,57);
    border-radius: 0px 0px 8px 8px;
    color: #FFF;
}

.server-players {
    width: 100%;
    border-collapse: collapse;
}

tbody, thead {
    text-align: left;
}

td {
    padding: 2px;
}

tbody > tr > td:first-child {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #d4d4d4;
    /* color: #fff; */
}

.server-player-count {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 1;
    flex-wrap: wrap;
    width: 75%;
    gap: 1px;
}

.server-title {
    display: flex;
    align-items: center;
    color: #FFF;
    margin: 0;
    border-radius: 8px 8px 0px 0px;
}

.server-unreachable-title {
    display: flex;
    align-items: center;
    color: #FFF;
    background: linear-gradient(0deg, rgba(57,57,57,1) 12%, rgba(85,85,85,1) 45%);
}

.join-button {
    margin-left: auto;
}

.map-thumbnail > img {
    width: 20%;
}

.level-title {
    font-weight: bold;
}
.level-time {
    display: flex;
    align-items: center;
}
.server-level-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.join-button > a {
    padding: 0.4em 0.8em;
    font-size: 110%;
    font-weight: bold;

    text-decoration: none;

    color: black;

    background: linear-gradient(0deg, rgba(219,240,245,1) 30%, rgba(255,255,255,1) 84%);
    border: 1px solid rgba(219,240,245, 1);
    border-radius: 8px;
}

.join-button > a:hover {
    cursor: pointer;
    background: linear-gradient(180deg, rgba(219,240,245,1) 30%, rgba(255,255,255,1) 84%);
}