#sorry {
    display: flex;
    align-items: center;
}

#sorry-container {
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sorry-info {
    margin: 0 20px;
    max-width: 300px;
}

#sorry-info > p {
    font-size: 90%;
}