<!DOCTYPE html>
<html>
<%- include('../general/header', {'title': 'Maps' }); -%>

    <head>
        <link rel='stylesheet' href='./stylesheets/servers.css' />
    </head>
    <%- include('../general/nav'); -%>

        <body>
            <div class="jumbotron d-flex align-items-center api-error">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-8">
                            <div class="card border-danger">
                                <div class="row g-0">
                                    <div class="col-sm-4 position-relative">
                                        <img src="./images/reallyNow.jpg" class="card-img fit-cover w-100 h-100"
                                            alt="...">
                                    </div>
                                    <div class="col-sm-8 d-flex align-items-center">
                                        <div class="card-body">
                                            <h1 class="card-title text-danger">Oh, shit.</h1>
                                            <p class="card-text">
                                                Something went <i>wrong</i> when trying to load the maps. <span
                                                    class="text-success">Maybe refresh the page?</span>
                                            </p>
                                            <p class="card-text">
                                                If you're <span class="text-danger">still</span> seeing this, that means
                                                there's a problem with
                                                something in the backend.
                                            </p>
                                            <p class="card-text">
                                                Notify your nearest webmaster.
                                            </p>
                                            <p class="card-text">
                                                <small class="text-muted">(i.e. post about it in the thread.)</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>

</html>