<!DOCTYPE html>
<html data-bs-theme="dark">

    <head>
        <title>Maps - kartinvidya</title>
        <meta content="title" property="og:title" />
        <meta content="Kartin time" property="og:description" />
        <meta content="https://kartinvidya.me/maps" property="og:url" />
        <meta content="https://kartinvidya.me/images/Logo.png" property="og:image" />
        <meta content="#43B581" data-react-helmet="true" name="theme-color" />

        <script src=".\floating-ui\core\dist\floating-ui.core.umd.js" defer></script>
        <script src=".\floating-ui\dom\dist\floating-ui.dom.umd.js" defer></script>
        <script type="module" src="./javascripts/floatingui-init.js" defer></script>

        <%- include('../general/head_generic'); -%>

        <!-- Page specific stylesheets + scripts -->
        <link rel='stylesheet' href='./stylesheets/timerecord.css' />
    </head>

    <body>
        <%- include('../general/nav'); -%>
            <div class="container-xl py-md-3">
                <div class="row" id="time-records-container" style="display:none;">

                    <div class="col-12 col-md-6">
                        <div class="px-xl-3 sidebar">
                            <div id="map-details-container" class="card p-2 screen-height">
                                <div class="card-header d-flex" style="flex: 0 0 auto">
                                    <img id="map-dets-background" class="closest-neighbour"
                                        onerror="this.src='./images/oh_no.jpg'">
                                    <div class="row" style="flex: 0 1 auto;flex-grow: 1;">
                                        <div class="col-md-8 flex-grow-1 align-self-center">
                                            <h4 id="map-dets-mapIdAndExtendedId" class="font-standard px-1 mb-1">Select a
                                                map!</h4>
                                            <h3 id="map-dets-title" class="font-outlined title-text px-1 mb-3">
                                                </h2>
                                        </div>
                                        <div class="col-md-4">
                                            <img id="map-dets-minimap" src="" onerror="this.src='./images/CANT_REACH.png'"
                                                class="closest-neighbour">
                                        </div>
                                    </div>
                                </div>
                                <div id="map-dets-content-container" class="card-body d-none">
                                    <div class="p-2 mb-2 row">
                                        <div class="d-flex col row"
                                            style="background-image: url(./images/gameassets/K_STTIME.png);background-size: cover;">
                                            <div class="d-flex align-items-center text-center  justify-content-center col">
                                                <span data-floating-toggle="tooltip" data-floating-placement="top"
                                                    data-floating-arrow-styles='["floating-arrow"]'
                                                    data-floating-interactable class="pop-up-close card card-body">The
                                                    amount of times players left this map through a rtv vote.</span>
                                                <img src="./images/rtv.png" class="closest-neighbour dets-miniicon">
                                                <span id="map-dets-rtvs" class="font-standard">12345</span>
                                            </div>
                                            <div class="d-flex col align-items-center text-center justify-content-center">
                                                <span data-floating-toggle="tooltip" data-floating-placement="top"
                                                    data-floating-arrow-styles='["floating-arrow"]'
                                                    data-floating-interactable class="pop-up-close card card-body">Ranking
                                                    of this map across all maps in the servers by RTV counts.</span>
                                                <img id="map-dets-rtvs-rankicon" src="./images/gameassets/K_SPTLAP.png"
                                                    class="closest-neighbour dets-miniicon">
                                                <span id="map-dets-rtvs-rank" class="font-standard">67890</span>
                                            </div>
                                        </div>
                                        <div class="d-flex col row"
                                            style="background-image: url(./images/gameassets/K_STTIME.png);background-size: cover;">
                                            <div class="d-flex col align-items-center text-center justify-content-center">
                                                <span data-floating-toggle="tooltip" data-floating-placement="top"
                                                    data-floating-arrow-styles='["floating-arrow"]'
                                                    data-floating-interactable class="pop-up-close card card-body">The
                                                    amount of times players entered this
                                                    map.</span>
                                                <img src="./images/gameassets/K_SPTLAP.png"
                                                    class="closest-neighbour dets-miniicon">
                                                <span id="map-dets-plays" class="font-standard">67890</span>
                                            </div>
                                            <div class="d-flex col align-items-center text-center justify-content-center">
                                                <span data-floating-toggle="tooltip" data-floating-placement="top"
                                                    data-floating-arrow-styles='["floating-arrow"]'
                                                    data-floating-interactable class="pop-up-close card card-body">Ranking
                                                    of this map across all maps in the servers by play counts.</span>
                                                <img id="map-dets-plays-rankicon" src="./images/gameassets/K_SPTLAP.png"
                                                    class="closest-neighbour dets-miniicon">
                                                <span id="map-dets-plays-rank" class="font-standard">67890</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="spinner-container" class="d-flex justify-content-center m-3 d-none">
                                        <img src="./images/spinner.gif" />
                                    </div>
                                    <div id="map-dets-records-container">
                                        <!-- Template -->
                                        <template id="map-records-template">
                                            <div class="card map-record bg-skewed bg-lowerborder-gamemode mb-2 p-2"
                                                gamemode="tech">
                                                <span
                                                    class="position-absolute translate-end-x badge record-badge-end bg-skewed sharp-border-end color-gamemode bg-color-gamemode fst-italic px-3 z-1"
                                                    gamemode="tech" style="top: 3px !important">
                                                    <span style="z-index: 1; position: relative;"
                                                        map-record-card-gamemode-label>Tech</span>
                                                </span>

                                                <div class="d-flex col align-items-center text-center px-3 z-1">
                                                    <img class="skinicon closest-neighbour"
                                                        src="./images/licenses/ranks/brownbricks_want.png"
                                                        onerror="this.src='./images/licenses/ranks/whoareyou.png'"
                                                        map-record-card-skinicon>
                                                    <span class="px-2" map-record-card-playernames>holy shit</span>
                                                </div>
                                                <div
                                                    class="d-flex col align-items-center text-center text-uppercase px-3 z-1 ">
                                                    <span class="px-2" map-record-card-server-tag>EU</span>
                                                    <div class="d-flex col px-2 z-1 justify-content-end">
                                                        <span class="px-2" map-record-card-time>99' 99'' 00</span>
                                                        <img class="skinicon closest-neighbour"
                                                            src="./images/STOPWATCH.png">
                                                    </div>
                                                </div>
                                            </div>
                                        </template>
                                        <!--  -->
                                    </div>
                                    <div class="text-center col text-body-tertiary pt-4" style="font-size: small;">
                                        <p>Full credit to <strong>MC</strong> for this page.</p>
                                        <div>Due to how map data is handled across servers, some maps might have missing
                                            data or mismatching data, such as unmatching names, thumbnails, minimaps, or
                                            records.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-md-6">
                        <div class="px-xl-1 sidebar">
                            <div id="map-list-container" class="card p-2 screen-height mobile-scroll">
                                <div id="map-list-size" class="d-flex text-muted p-3 align-items-center">
                                    <div>
                                        <h4 class="fw-bold">Maps</h4>
                                    </div>
                                    <div class="ms-auto">
                                        <small>
                                            <%=Object.keys(mapInfoSet).length%> maps
                                        </small>
                                    </div>
                                </div>
                                <div id="map-list" class="map-list">
                                    <div id="map-selection-grid" class="selection-grid map align-top flex-fill">
                                        <% for (const key in mapInfoSet) { %>
                                            <div id="map-select-<%= mapInfoSet[key].mapId %>"
                                                class="selection-grid-card card-map"
                                                jsonmapdata="<%= JSON.stringify(mapInfoSet[key]) _%>"
                                                onclick="handleMapCardClick(this)">
                                                <%- include('map_card', {mapInfo: mapInfoSet[key]}); %>
                                            </div>
                                            <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        <%- include('../general/invite_modal'); -%>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
            integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="./javascripts/timerecord/mapScript.js"></script>
    </body>

</html>