<div>
    <div class="card-img">
        <img loading="lazy" src="./images/maps/MAP<%- mapInfo.resolvedExtendedName %>P.png" alt="<%- mapInfo.resolvedExtendedName %>" onerror="this.src='./images/RANDOMLV.png'" class="closest-neighbour">
    </div>
    <div class="card-label">
        <span class="label-text">
            <% if(mapInfo.mapName) { %>
            <%- mapInfo.mapName %>
            <% } else { %>
                <%- mapInfo.resolvedExtendedName %>
            <%}%>
        </span>
    </div>
</div>
