<!-- /// Global styles ////  -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href='./css/bootstrap.min.css' />
<link rel='stylesheet' href='./css/compiled.css' />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<script src="./js/bootstrap.bundle.min.js"></script>
<link rel='stylesheet' href='./stylesheets/global.css' />

<!-- This is for the nav bar -->
<link rel='stylesheet' href='./stylesheets/startbutton.css' />

<!-- /// END of global styles ////  -->