<div class="modal fade" id="warningInviteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="warningInviteModalLabel" aria-hidden="true">
    <div class="modal-dialog warning-modal" data-bs-theme="dark">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="warningInviteModalLabel">
                    Hold up there, sister!
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>
                    Before you join the server, please ask yourself the following questions:
                </p>
                <ul>
                    <li>Have I played on one of the Kart servers at least <strong><i>once?</i></strong></li>
                    <li>
                        Am I <strong>over</strong> 18 years old? 
                        <small class="text-muted">(This one is very important.)</small>
                    </li>
                </ul>
                <p>
                    If both of the answers to those questions are a confident <strong>'yes'</strong> and as long as you didn't lie (😡), feel free to join*.
                </p>
                <hr/>
                <small class="text-muted">
                    * If your purpose is to join and "scrape" data for whatever stupid reason, you'll be called out instantly. Don't be weird.
                </small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Nevermind</button>
                <a role="button" class="btn btn-outline-success" href="https://discord.gg/c9STmNTJxZ" target="_blank">Shut up, let me in</a>
            </div>
        </div>
    </div>
</div>