<header class="navbar navbar-dark navbar-expand-lg bd-navbar sticky-top" style="background-color: #202020">
    <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap">
        <a class="navbar-brand p-0 me-0 me-lg-2" href="#">
            <img src="./images/motobug.gif">
        </a>

        <div class="bd-navbar-toggle">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/status">Status</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link" href="/scoreboard">Scoreboard</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link" target="_blank" href="https://www.youtube.com/playlist?list=PLF5WlFeLtyfF8oodOMSZ00QJBLmVcPZwb">Tourneys</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link" href="/maps">Maps</a>
                </li>
                <!-- <li class="nav-item d-flex align-items-center">
                    <a class="nav-link" href="/tourneys">Tourneys</a>
                    <span class="new-link">New!</span>
                </li> -->
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link" href="/license">License</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link" href="/guide">Guide</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <div id="nav-separator" class="m-2">
                    </div>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link" target="_blank" href="https://cytube.implying.fun/c/srb2k">CyTube</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link" data-bs-toggle="modal" href="#warningInviteModal" role="button">Discord</a>
                </li>
                <li class="nav-item hidden-nav-item">
                    <a class="nav-link" href="/nsfw">NSFW</a>
                </li>
            </ul>
            <hr class="d-lg-none text-white-50">
            <ul class="navbar-nav flex-row flex-wrap ms-md-auto align-items-center">
                <li class="nav-item col-6 col-lg-auto">
                    <a id="start" href="/past" title="Feeling nostalgic?"></a>
                </li>
            </ul>
        </div>
    </nav>
    <%- include('../general/script_general'); -%>
</header>