<script>
    document.addEventListener("DOMContentLoaded", function () {
        const newLink = document.querySelector(".new-link")
        if (newLink) {
            newLink.innerHTML = newLink.textContent.replace(/\S/g, "<span class='new-link-letter'>$&</span>")
            const letters = document.querySelectorAll(".new-link-letter")

            for (let i = 0; i < letters.length; i++) {
                letters[i].style.animationDelay = i * 0.05 + 's'
            }
        }

        // find the link to the current page and make it active
        document.querySelectorAll(`a[href="${location.pathname}"].nav-link`).forEach(a => {
            a.classList.add("active");
            a.setAttribute("aria-current", "page");
        });
    });
</script>