<!DOCTYPE html>
<html data-bs-theme="dark">
    
    <head>
        <title>Tourneys - kartinvidya</title>
            
            <meta content="title" property="og:title" />
            <meta content="Kartin time" property="og:description" />
            <meta content="https://kartinvidya.me/" property="og:url" />
            <meta content="https://kartinvidya.me/images/Logo.png" property="og:image" />
            <meta content="#43B581" data-react-helmet="true" name="theme-color" />
            <meta name="twitter:card" content="summary">
            <%- include('../general/head_generic'); -%>
    </head>
        
    <body>
        <%- include('../general/nav'); -%>
        <%- include('../general/invite_modal'); -%>        
    </body>
</html>