<!DOCTYPE html>
<html lang="en">

    <%- include('../general/header', {'title': 'Scoreboard' }); -%>

    <head>
        <link rel="stylesheet" href="../stylesheets/past/scoreboard.css"/>
    </head>

    <body>
        <%- include('../general/navbar'); -%>

        <div class="element-center main-center scoreboard">
            <div class="scoreboard-container">

                <div id="loader" class="ajax-loader">
                    <img src="../images/past/ajax-loader.gif"/>
                </div>
                        
                <div id="playerTable" class="article hidden-table"> 
                    <div id="player-name-header" class="article-header player-name">
                        <div id="playerNameContainer">
                            <div id="modalPlayerName">
                                BOOBIES
                            </div>
                            <span id="playerTotalPlaytime">
                                0 hours, 0 minutes (approx.)
                            </span>
                        </div>
                        <div style="margin-left: auto">
                            <button id="closeButton" type="button">
                                &#10006;
                            </button>
                        </div>
                    </div>

                    <div id="player-overview">
                        <ul class="tabs">
                            <li class="tab-item selected">
                                <button class="button-tab" target-tab="overview-tab">
                                    Overview
                                </button>
                            </li>
                            <li class="tab-item">
                                <button class="button-tab" target-tab="details-tab">
                                    Details
                                </button>
                            </li>
                            <li class="tab-item" id="dummy-tab">
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="overview-tab" class="tab-div">
                                <div class="row" id="medals">
                                    <div class="col">
                                        <div class="row" style="align-items: center;">
                                            <div class="col" style="padding:0;">
                                                <img src="../images/scoreboard/gold.png" width="50" height="50"/>
                                            </div>
                                        </div>
                                        <div class="row" style="align-items: center;">
                                            <div class="col" style="padding:0;">
                                                <h5 id="goldStat" class="phonetext">9,999,999</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row" style="align-items: center;">
                                            <div class="col" style="padding:0;">
                                                <img src="../images/scoreboard/silver.png" width="50" height="50"/>
                                            </div>
                                        </div>
                                        <div class="row" style="align-items: center;">
                                            <div class="col" style="padding:0;">
                                                <h5 id="silverStat" class="phonetext">9,999,999</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row" style="align-items: center;">
                                            <div class="col" style="padding:0;">
                                                <img src="../images/scoreboard/copper.png" width="50" height="50"/>
                                            </div>
                                        </div>
                                        <div class="row" style="align-items: center;">
                                            <div class="col" style="padding:0;">
                                                <h5 id="bronzeStat" class="phonetext">9,999,999</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="align-items: center;margin-bottom: 0.5em;">
                                    <div class="progress" style="height: 25px; padding: 0;">
                                        <div id="barGold" class="progress-bar" role="progressbar"
                                            style="width: 10%; background-color: #f9e911;" aria-valuenow="10"
                                            aria-valuemin="0" aria-valuemax="100">
                                            <h6 id="perGold" class="h6longtext"
                                                style="margin-bottom: 0;color: #000;">10%</h6>
                                        </div>
                                        <div id="barSilver" class="progress-bar" role="progressbar"
                                            style="width: 15%; background-color: #9c9daa;" aria-valuenow="15"
                                            aria-valuemin="0" aria-valuemax="100">
                                            <h6 id="perSilver" class="h6longtext"
                                                style="margin-bottom: 0; color: #000;">15%</h6>
                                        </div>
                                        <div id="barBronze" class="progress-bar" role="progressbar"
                                            style="width: 20%; background-color: #d98846;" aria-valuenow="20"
                                            aria-valuemin="0" aria-valuemax="100">
                                            <h6 id="perBronze" class="h6longtext"
                                                style="margin-bottom: 0; color: #000;">20%</h6>
                                        </div>
                                        <div id="barTotal" class="progress-bar" role="progressbar"
                                            style="width: 55%; background-color: #3070d9;" aria-valuenow="55"
                                            aria-valuemin="0" aria-valuemax="100">
                                            <h6 id="raceTotal" class="h6longtext" style="margin-bottom: 0;">
                                                9,999,999 Races</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="points-summary" style="align-items: center;">
                                    <div class="col">
                                        <div class="row" style="align-items: center;">
                                            <div class="col">
                                                <img src="../images/scoreboard/Sonic-Robo-Blast-2-Kart-logo.png"
                                                    title="Vanilla" alt="Vanilla" width="50" height="50"
                                                    />
                                            </div>
                                        </div>
                                        <div class="row" style="align-items: center;">
                                            <div class="col">
                                                <h5 id="ksVanilla">9999</h5>
                                                <h6 id="ksVanillaBest" class="card-subtitle mb-2 text-muted">
                                                    Best 9999</h6>
                                                <h6 id="ksVanillaRank" class="card-subtitle mb-2 text-muted">
                                                    Rank 9999</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row" style="align-items: center;">
                                            <div class="col">
                                                <img src="../images/scoreboard/2691.jpg" title="Juice"
                                                    alt="Juice" width="50" height="50" />
                                            </div>
                                        </div>
                                        <div class="row" style="align-items: center;">
                                            <div class="col">
                                                <h5 id="ksJuice">9999</h5>
                                                <h6 id="ksJuiceBest" class="card-subtitle mb-2 text-muted">Best
                                                    9999</h6>
                                                <h6 id="ksJuiceRank" class="card-subtitle mb-2 text-muted">Rank
                                                    9999</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row" style="align-items: center;">
                                            <div class="col">
                                                <img src="../images/scoreboard/K_ITSHOE2.png" title="Nitro"
                                                    alt="Nitro" width="50" height="50" />
                                            </div>
                                        </div>
                                        <div class="row" style="align-items: center;">
                                            <div class="col">
                                                <h5 id="ksNitro">9999</h5>
                                                <h6 id="ksNitroBest" class="card-subtitle mb-2 text-muted">Best
                                                    9999</h6>
                                                <h6 id="ksNitroRank" class="card-subtitle mb-2 text-muted">Rank
                                                    9999</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row" style="align-items: center;">
                                            <div class="col">
                                                <img src="../images/scoreboard/combiplaceholder.png"
                                                    title="Combi-Ring" alt="Combi-Ring" width="50" height="50"
                                                    />
                                            </div>
                                        </div>
                                        <div class="row" style="align-items: center;">
                                            <div class="col">
                                                <h5 id="ksCombi">9999</h5>
                                                <h6 id="ksCombiBest" class="card-subtitle mb-2 text-muted">Best
                                                    9999</h6>
                                                <h6 id="ksCombiRank" class="card-subtitle mb-2 text-muted">Rank
                                                    9999</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row" style="align-items: center;">
                                            <div class="col">
                                                <img src="../images/scoreboard/ring.png" title="Rings"
                                                    alt="Rings" width="50" height="50" />
                                            </div>
                                        </div>
                                        <div class="row" style="align-items: center;">
                                            <div class="col">
                                                <h5 id="ksRing">9999</h5>
                                                <h6 id="ksRingBest" class="card-subtitle mb-2 text-muted">Best
                                                    9999</h6>
                                                <h6 id="ksRingRank" class="card-subtitle mb-2 text-muted">Rank
                                                    9999</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="details-tab" class="tab-div hidden-tab">
                                <div class="row" id="details">
                                    <div class="row"
                                        style="padding: 0;">
                                        <div class="col col-no-padding border-right text-center">
                                            <div class="col-header" style="border-bottom: 1px solid #bbb">
                                                Overall
                                            </div>
                                            <div class="row ks-576">
                                                <div class="col col-sm-6 tBorderRight">
                                                    <p>Races</p>
                                                    <h4 id="dRaces">9,999,999</h4>
                                                </div>
                                                <div class="col col-sm-6">
                                                    <p>Wins</p>
                                                    <h4 id="dWins">9,999,999</h4>
                                                </div>
                                            </div>
                                            <div class="row ks-576 tBorderTop">
                                                <div class="col col-sm-12">
                                                    <p>Win Percent</p>
                                                    <h4 id="dWinPercent">99.99%</h4>
                                                </div>
                                            </div>
                                            <div class="row ks-1440">
                                                <div class="col tBorderRight">
                                                    <p>Races</p>
                                                    <h4 id="dRaces2">9,999,999</h4>
                                                </div>
                                                <div class="col tBorderRight">
                                                    <p>Wins</p>
                                                    <h4 id="dWins2">9,999,999</h4>
                                                </div>
                                                <div class="col">
                                                    <p>Win Percent</p>
                                                    <h4 id="dWinPercent2">99.99%</h4>
                                                </div>
                                            </div>
                                            <div class="row ks-576 tBorderTop">
                                                <div class="col col-sm-6 tBorderRight">
                                                    <p class="longtext">Second Places</p>
                                                    <h4 id="dSecond">9,999,999</h4>
                                                </div>
                                                <div class="col col-sm-6">
                                                    <p>Third Places</p>
                                                    <h4 id="dThird">9,999,999</h4>
                                                </div>
                                            </div>
                                            <div class="row ks-576 tBorderTop">
                                                <div class="col col-sm-12">
                                                    <p class="longtext">Podium Percent</p>
                                                    <h4 id="dPodium">99.99%</h4>
                                                </div>
                                            </div>
                                            <div class="row ks-1440 tBorderTop">
                                                <div class="col tBorderRight">
                                                    <p class="longtext">Second Places</p>
                                                    <h4 id="dSecond2">9,999,999</h4>
                                                </div>
                                                <div class="col tBorderRight">
                                                    <p>Third Places</p>
                                                    <h4 id="dThird2">9,999,999</h4>
                                                </div>
                                                <div class="col">
                                                    <p class="longtext">Podium Percent</p>
                                                    <h4 id="dPodium2">99.99%</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-no-padding text-center">
                                            <div class="col-header" style="border-bottom: 1px solid #bbb">
                                                Item Hits
                                            </div>
                                            <div class="row ks-576">
                                                <div class="col col-sm-12">
                                                    <p>Hits</p>
                                                    <h4 id="dHits">9,999,999</h4>
                                                </div>
                                            </div>
                                            <div class="row ks-576 tBorderTop">
                                                <div class="col col-sm-12">
                                                    <p class="longtext">Self/Environment Hits</p>
                                                    <h4 id="dSelf">9,999,999</h4>
                                                </div>
                                            </div>
                                            <div class="row ks-1440">
                                                <div class="col tBorderRight">
                                                    <p>Hits</p>
                                                    <h4 id="dHits2">9,999,999</h4>
                                                </div>
                                                <div class="col">
                                                    <p class="longtext">Self/Environment Hits</p>
                                                    <h4 id="dSelf2">9,999,999</h4>
                                                </div>
                                            </div>
                                            <div class="row ks-576 tBorderTop">
                                                <div class="col col-sm-6 tBorderRight">
                                                    <p>Spun Out</p>
                                                    <h4 id="dSpin">9,999,999</h4>
                                                </div>
                                                <div class="col col-sm-6">
                                                    <p>Exploded</p>
                                                    <h4 id="dExploded">9,999,999</h4>
                                                </div>
                                            </div>
                                            <div class="row ks-576 tBorderTop">
                                                <div class="col col-sm-12">
                                                    <p>Squished</p>
                                                    <h4 id="dSquish">9,999,999</h4>
                                                </div>
                                            </div>
                                            <div class="row ks-1440 tBorderTop">
                                                <div class="col tBorderRight">
                                                    <p>Spun Out</p>
                                                    <h3 id="dSpin2">9,999,999</h4>
                                                </div>
                                                <div class="col tBorderRight">
                                                    <p>Exploded</p>
                                                    <h4 id="dExploded2">9,999,999</h4>
                                                </div>
                                                <div class="col">
                                                    <p>Squished</p>
                                                    <h4 id="dSquish2">9,999,999</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="search-container not-loaded">
                    <form autocomplete="off" class="search-bar" defaultbutton="searchButton" onsubmit="lookupPlayer();return false">
                        <div class="autocomplete">
                            <input id="playerSearch" class="form-control" type="search" placeholder="Player Search"
                            aria-label="Search Players">
                        </div>
                        <button id="searchButton" type="submit" onclick="lookupPlayer()">Search</button>
                        <span id="errMessage" class="form-text"
                        style="display: none; color: #d11525; margin-top:0.5rem;margin-left:5px;">Player not
                        found</span>
                    </form>
                    <div>
                        <span>Server select:</span>
                        <select id="server-toggle">
                            <option value="usa">Burger 🍔</option>
                            <option value="eu">Tea ☕</option>
                        </select>
                    </div>
                </div>
                
                <div id="actual-scoreboards" class="not-loaded">
                    <div class="subleaderboard">
                        <!--Wins-->
                        <h1>Wins</h1>
                        <ol class="list-group" id="winLeaderboard">
    
                        </ol>
                    </div>
                    <div class="subleaderboard">
                        <!--Vanilla/Tech-->
                        <h1>Vanilla/Tech</h1>
                        <ol class="list-group" id="vanillaKS">
    
                        </ol>
                    </div>
                    <div class="subleaderboard">
                        <!--Juice-->
                        <h1>Juice</h1>
                        <ol class="list-group" id="juiceKS">
    
                        </ol>
                    </div>
                    <div class="subleaderboard">
                        <!--Nitro-->
                        <h1>Nitro</h1>
                        <ol class="list-group" id="nitroKS">
    
                        </ol>
                    </div>
                    <div class="subleaderboard">
                        <!--Combi-->
                        <h1>Combi</h1>
                        <ol class="list-group" id="combiKS">
    
                        </ol>
                    </div>
                    <div class="subleaderboard">
                        <!--Rings-->
                        <h1>Rings</h1>
                        <ol class="list-group" id="ringKS">
    
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../general/ads'); -%>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="../javascripts/scoreboard/playerScriptSimple.js"></script>
        <script src="../javascripts/scoreboard/scoreboard.js"></script>
    </body>
</html>