<!DOCTYPE html>
<html>

    <head>
        <title>???</title>
        <meta content="title" property="og:title" />
        <meta content="Kartin time" property="og:description" />
        <meta content="https://kartinvidya.me/nsfw" property="og:url" />
        <meta content="https://kartinvidya.me/images/Logo.png" property="og:image" />
        <meta content="#43B581" data-react-helmet="true" name="theme-color" />

        <%- include('../general/head_generic'); -%>

        <!-- Page specific stylesheets + scripts -->
        <link rel='stylesheet' href='./stylesheets/silly.css' />
    </head>

    <body>
        <%- include('../general/nav'); -%>
        <div class="mb-3" style="padding: 3rem 0;">
            <div class="bd-gutter">
                <div class="text-center">
                    <div style="display: inline-block">
                        <img class="target img-fluid" width="1480px" height="2048" src="<%- imgSrc %>" onerror="this.src='./images/silly/fooledya.png'">
                    </div>
                    <div class="text-muted p-2">
                        <%- warningMessage %>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../general/invite_modal'); -%>
    </body>
</html>