<!DOCTYPE html>
<html data-bs-theme="dark">
    
    <head>
        <title>Home - kartinvidya</title>
            
            <meta content="title" property="og:title" />
            <meta content="Kartin time" property="og:description" />
            <meta content="https://kartinvidya.me/" property="og:url" />
            <meta content="https://kartinvidya.me/images/Logo.png" property="og:image" />
            <meta content="#43B581" data-react-helmet="true" name="theme-color" />
            <meta name="twitter:card" content="summary">
            
            <link rel='stylesheet' href='./stylesheets/home.css' />
            <%- include('../general/head_generic'); -%>
    </head>
        
    <body>
        <%- include('../general/nav'); -%>
        <div class="homeTop"></div>
        <div>
            <div class="d-flex align-items-center flex-column">
                    <main class="text-center" id="main-elem">
                        <img class="img-fluid" src="./images/Logo.png" />
                        <p>
                            A <strong><u>free</u></strong>, lightweight, highly-customisable kart racing game, based on the
                            Sonic franchise.*
                        </p>
                        <hr />
                        <p>
                            We have <a target="_blank"
                            href="https://boards.4channel.org/vm/catalog#s=srb2kart">dedicated threads</a> for discussion; from starting netgames and playing with other racers
                            to even helpful feedback and tips on modding the game.
                        </p>
                        <p>
                            Why not drop in and <a href="/guide" target="_blank">get started</a>?
                        </p>
                    </main>
                    <div class="wrapper">
                        <div class="scrolling-wrapper">
                            <div class="scrolling-content">
                                <video poster="./videos/replays/loading.gif" autoplay muted loop playsinline class="video-item">
                                    <source data-src="./videos/replays/1.webm" type="video/webm">
                                </video>
                                <video poster="./videos/replays/loading.gif" autoplay muted loop playsinline class="video-item">
                                    <source data-src="./videos/replays/2.webm" type="video/webm">
                                </video>
                                <video poster="./videos/replays/loading.gif" autoplay muted loop playsinline class="video-item">
                                    <source data-src="./videos/replays/3.webm" type="video/webm">
                                </video>
                                <video poster="./videos/replays/loading.gif" autoplay muted loop playsinline class="video-item">
                                    <source data-src="./videos/replays/4.webm" type="video/webm">
                                </video>
                                <video poster="./videos/replays/loading.gif" autoplay muted loop playsinline class="video-item">
                                    <source data-src="./videos/replays/5.webm" type="video/webm">
                                </video>
                                <video poster="./videos/replays/loading.gif" autoplay muted loop playsinline class="video-item">
                                    <source data-src="./videos/replays/6.webm" type="video/webm">
                                </video>
                                <video poster="./videos/replays/loading.gif" autoplay muted loop playsinline class="video-item">
                                    <source data-src="./videos/replays/7.webm" type="video/webm">
                                </video>
                                <video poster="./videos/replays/loading.gif" autoplay muted loop playsinline class="video-item">
                                    <source data-src="./videos/replays/9.webm" type="video/webm">
                                </video>
                                <video poster="./videos/replays/loading.gif" autoplay muted loop playsinline class="video-item">
                                    <source data-src="./videos/replays/11.webm" type="video/webm">
                                </video>
                                <video poster="./videos/replays/loading.gif" autoplay muted loop playsinline class="video-item">
                                    <source data-src="./videos/replays/12.webm" type="video/webm">
                                </video>
                            </div>
                        </div>
    
                    </div>
                    <small class="text-muted text-center">
                        *A mod of a <a target="_blank" href="https://www.srb2.org/">mod</a> built on top of the Doom Legacy
                        Engine.
                    </small>
        </div>
        <%- include('../general/invite_modal'); -%>        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="./javascripts/home/setup.js"></script>
    </body>
</html>