<!DOCTYPE HTML>
<html>

<head>
    <title>😡</title>
</head>

<style>
    html, body {
        height: 100%;
    }
    body {
        background: #131313;
        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;
    }
</style>

<body>
    <div>
        <img src="../images/what_are_you_doing.gif"/>
    </div>
</body>

</html>