@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

body {
  background-color: #141414;
  font-family: 'Inter', sans-serif !important;
  color: white;
}

.nav-link>i {
  font-size: 1.9rem;
  font-weight: lighter;
}

.nav-link>img {
  width: 32px;
  transition: .2s ease-in-out transform;
}

.nav-link>img:hover {
  transform: rotate(-5deg) scale(1.15);
}

.navbar {
  box-shadow: 0 8px 6px -6px #121212;
}

.hidden-nav-item {
  opacity: 0.01;
}

.hidden-nav-item:hover {
  opacity: 1;
  transition: opacity .5s ease-out;
}

.new-link {
  font-size: 0.7em;
  animation: tryhard 1.2s infinite
}

.new-link-letter {
  display: inline-block;
  animation: newlink 1s ease-in-out infinite;
}

.warning-modal {
  max-width: 500px !important;
}

@keyframes newlink {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes tryhard {
  0% {
    color: orange;
  }

  10% {
    color: purple;
  }

  20% {
    color: red;
  }

  30% {
    color: CadetBlue;
  }

  40% {
    color: yellow;
  }

  50% {
    color: coral;
  }

  60% {
    color: green;
  }

  70% {
    color: cyan;
  }

  80% {
    color: DeepPink;
  }

  90% {
    color: DodgerBlue;
  }

  100% {
    color: orange;
  }
}

@media (min-width: 992px) {}

@media (max-width: 992px) {
  .hidden-nav-item, #nav-separator {
    display: none;
  }
}

#nav-separator {
  border-left: 2px solid rgba(255, 255, 255, 0.25); 
  height: 15px
}

/* b-but it should be "nearest neighbour"!
SHUT THE FUCK UP*/
.closest-neighbour {
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (Safari/Chrome) */
  image-rendering: pixelated;
  /* CSS standard property */
}

.floating-arrow {
  position: absolute;
  background: var(--bs-card-border-color);
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}

