.homeTop::before {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0;
    background: url(../images/homebg.png) repeat-x;
    will-change: transform;
    z-index: -20;
}

a {
    text-decoration-style: dotted;
}

.container-fluid {
    margin-top: 20px;
    min-height: 400px;
}

.scrolling-wrapper {
    width: 100%;
    /*set height of the row*/
    overflow-x: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    /*add border if needed*/
}

.scrolling-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    width: 101%;
    left: -0.5%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.wrapper .scrolling-wrapper {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
}

.wrapper {
    overflow: hidden;
}
.scrolling-wrapper::after {
    background: linear-gradient(90deg, #141414 0%, rgba(27, 31, 59, 0) 20%, rgba(27, 31, 59, 0) 80%, #141414 100%);
}


.wrapper .scrolling-wrapper::before {
    position: absolute;
    top: 0;
    width: 100%;
    left: calc(-100% - 20px);
    height: 100%;
    background: #1B1F3B;
    z-index: 2;
    pointer-events: none;
}

.wrapper .scrolling-wrappert::after {
    position: absolute;
    top: 0;
    width: 100%;
    left: calc(100% - 20px);
    height: 100%;
    z-index: 2;
    pointer-events: none;
}


.scrolling-wrapper .scrolling-content {
    display: inline-flex;
    animation: marquee 10s linear infinite;
}

.paused {
    -webkit-animation-play-state:paused !important;
    -moz-animation-play-state:paused !important;
    -o-animation-play-state:paused !important; 
    animation-play-state:paused !important;
}

.scrolling-wrapper .scrolling-content>* {
    flex-shrink: 0;
    width: 400px;
    /*set width of individual video*/
    /*add margin between videos*/
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    /* Set the keyframe percentage value to be a fraction of the number of videos in the row */
    100% {
        transform: translateX(calc(-55% * var(--video-count)));
    }
}

video {
    object-fit: fill;
    max-width: 360px;
    width: 100% !important;
    height: 200px !important;
}

#main-elem {
    max-width: 52em;
}

#main-elem>p {
    margin-top: 1rem;
    text-decoration: dotted;
}

@media (max-width: 992px) {
    small {
        font-size: 0.785rem;
    }

    main>p {
        font-size: 0.9em;
    }
}