#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.licensePreview {
    filter: brightness(100%);
    transition: filter .2s ease-in-out, transform .2s ease-in-out;
} 
.licensePreview:hover {
    transform: scale(1.5);
    filter: brightness(120%);
    cursor: pointer;
    z-index: 1;
}

#avatar-toggle {
    margin-left: auto;
}

.optionTitle {
    display: flex;
    align-self: end;
}

#license-options-container, #license-info-container {
    max-width: 462px;
}
#license-avatar-container, #license-background-container, #license-buttons-container {
    width: 100%;
}

#defaultBackgrounds {
    margin-top: 10px;
    display:grid;
    grid-template-columns: repeat(3, 0fr);
}

hr {
    width: 462px;
}

#license-info-container {
    gap: 10px;
}

#license-container::before {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 35px;
    left: 0;
    background: url(../images/homebg.png) repeat-x;
    will-change: transform;
    z-index: -20;
}