.col-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid #515151;
}

.col-no-padding {
    padding-left: 0;
    padding-right: 0;
}

.border-right {
    border-right: 1px solid #515151;
}

.border-left {
    border-left: 1px solid #515151;
}

.flex-center-content {
    height: 100%;
    align-items: center;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #515151;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #222;
    border-bottom: 1px solid #515151;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #444;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.listBorderRight {
    border-right: 1px solid rgba(250, 250, 250, .125);
}

.noPadding {
    padding: 0;
}

.leaderboardHover:hover {
    cursor: pointer;
    background-color: #444;
}

.IAmAnAttentionWhore {
    font-size: 0.8em;
}

#extra-player-data {
    width: 100%;
}
#extra-player-data-container {
    padding: 0.5rem 0.5rem !important;
}

#playerSearchContainer {
    flex-direction: row !important;
}

#server-toggle {
    margin-left: auto;
}

.hidden {
    display: none !important;
}

@media (min-width: 0px) {
    .ks-1440 {
        display: none;
    }

    .ks-576 {
        display: flex;
    }

    .longtext {
        font-size: 0.8em;
        margin-bottom: 1.3rem;
    }

    .moving-left-border {
        border-left: none;
        border-top: 1px solid #515151;
    }

    .phonetext {
        font-size: 0.8em;
    }

    .tBorderRight {
        border-right: none;
    }

    .tBorderBottom {
        border-bottom: none;
    }

    .tBorderLeft {
        border-left: none;
    }

    .tBorderTop {
        border-top: none;
    }

    .h6longtext {
        font-size: 0.8rem;
    }

    .searchBar {
        max-width: 100%
    }
}

@media (min-width: 477px) {
    .tBorderRight {
        border-right: 1px solid #515151;
    }

    .tBorderBottom {
        border-bottom: 1px solid #515151;
    }

    .tBorderLeft {
        border-left: 1px solid #515151;
    }

    .tBorderTop {
        border-top: 1px solid #515151;
    }

    .h6longtext {
        font-size: 1rem;
    }
}

@media (min-width: 576px) {
    .longtext {
        font-size: 1em;
        margin-bottom: 1rem;
    }

    .moving-left-border {
        border-left: none;
        border-top: 1px solid #515151;
    }

    .phonetext {
        font-size: 1.25rem;
    }

    /* Overriding Bootstrap */
    .player-card-modal.modal-dialog {
        max-width: 900px !important;
    }
}

@media (min-width: 768px) {
    .ks-1440 {
        display: flex;
    }

    .ks-576 {
        display: none;
    }

    .longtext {
        font-size: 0.8em;
        margin-bottom: 1.3rem;
    }

    .moving-left-border {
        border-top: none;
        border-left: 1px solid #515151;
    }

    .searchBar {
        max-width: 60%
    }
}

@media (min-width: 992px) {
    .longtext {
        font-size: 1em;
        margin-bottom: 1rem;
    }
}

@media (max-width: 767px) {
    #playerSearchContainer {
        flex-direction: column !important;
    }
    #server-toggle {
        margin-left: unset !important;
    }
    #server-toggle {
        margin: 10px !important;
    }
}

@media (max-width: 992px) {
    .IAmAnAttentionWhore {
        font-size: inherit !important;
    }
    #extra-player-data-container {
        overflow-x: auto;
    }
}

@media (max-width: 1200px) {}

@media (max-width: 1200px) {}

@media (max-width: 1400px) {
    .IAmAnAttentionWhore {
        font-size: 0.8em;
    }
}

.tourney-badge {
    background-image: var(--bs-gradient) !important;
    background-color: rgba(13, 110, 253, 1) !important;
    font-size: 0.6em;
}

.tooltip-inner {
    background-color: #222 !important;
    color: white;
}

.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before,
.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #222 !important;
}

.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before, .bs-tooltip-start .tooltip-arrow::before {
    border-left-color: #222 !important;
}

.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before, .bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #222 !important;
}

#playerNameContainer {
    display: flex;
    flex-direction: column;
    padding: 5px
}

#modalPlayerName {
    padding-bottom: 3px;
}

#playerTotalPlaytime {
    font-size: 12px;
}