body, html {
  height: 100% !important;
  max-height: 100% !important;
  overflow: overlay; 
}

body {
  background-image: url(/images/_i_r_dd_a.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: overlay; 
}


.server-container {
  padding: 50px;
}

.card {
  background-color: #272727 !important;
  color: white !important;
}

.server-players {
  color: white !important;
  --bs-table-striped-bg: #313131 !important;
  --bs-table-bg: #272727 !important;
}

.server_details {
  font-weight: normal !important;
}

.server-level>img {
  object-fit: contain;
  width: 120px; 
  height: auto;
}

.no-one-is-here {
  width: 80px;
  height: auto;
}

.player-sphere-online {
  width: 12px;
}

.player-sphere-spectator {
  filter: opacity(30%);
}

.server-unreachable-info  li{
  list-style-position: inside;
}

.server-unreachable-info li::marker{
  color: gray;
}
.level-time {
  font-size: 0.70rem !important;
}

.level-title {
  font-size: 0.9rem !important;
}

.server-name-header { 
  background-color: #191919 !important;
}
.server-name {
  font-size: 1.3em !important;
}
.server-name-mini-info {
  font-size: 0.755rem !important;
  color: rgba(255, 255, 255, 0.40);
}
.server-name-mini-info span {
  display: block;
}
.server-level-player-info {
  padding: 0.5rem 1rem;
}

.server-uptime {
  font-weight: normal;
  font-size: 0.5em;
}

.server-link > a {
  text-decoration: none !important;
}

#server-link-info > mark {
  box-shadow: none;
  display: block;
  overflow: auto;

  box-decoration-break: clone;
  color: inherit;
  word-break: break-word;
  background-color: rgb(17, 40, 102);
  font-size: 0.9em;
}

.card>.card-body {
  background-color: #313131 !important;
}

.server-unreachable-errors > li:before {
  content: "\f432";
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
}

.server-unreachable-errors > li{
  background-color: #363636;
  color: white;
  font-size: 0.9em;
}

.api-error {
  min-height: 80vh!important
}

#last-updated {
  font-size: 0.8rem!important;
}
/* Funny easter eggs */
.tryhard {
  animation: tryhard 0.3s infinite; 
}

.poopy {
  font-weight: bold;
  color: #664d03 !important;
}

.server-cards { 
  display: grid;
  gap: 10px;
} 

.server-flag {
  margin-left: auto;
}
.server-flag > img { 
  width: 30px;
  vertical-align: middle;
}

.server-down {
  background-color: black !important;
}

@media (min-width: 0px) {
}

@media (max-width: 477px) {
  .server-cards-header {
    flex-direction: column;
  }
}

@media (max-width: 576px) {

  .mumble-embed-container {
    display: none;
  }
  .player-sphere {
    max-width: 100%;
    max-height: 100%;
    height: 12px !important;
  }

  .no-one-is-here {
    max-width: 100%;
    max-height: 100%;
  }
  .players-spheres {
    width: 50%!important;
  }
  .level-title {
    font-size: 0.7em !important;
  }
  .level-time {
    font-size: 0.6em !important;
  }
  .server-level > img {
    width: 25% !important;
  }
  .actual-server-name, .server-name {
    font-size: 1.095rem !important;
  }
  .card-footer > small {
    font-size: .775em !important;
  }
  .card-footer {
    overflow-x: auto;
    white-space: nowrap;
  }
  .server-players {
    font-size: 12px;
    text-align: center;
  }
  .server-card {
    --bs-card-cap-padding-x: 0.5rem;
    margin: 10px !important;
  }
  .server-card-body {
    padding: 0.8rem 0.8rem !important;
  }
  .server-down-bad > .tryhard {
    font-size: 1.2em;
  }
  .server-down-bad > img {
    width: 20%;
  }
}

@media (min-width: 768px) {
  .fit-cover {
    position: absolute;
  }
  
  .image-easter-egg {
    width: 41.66666667% !important;
  }  
}

@media (min-width: 992px) {
  .server-cards-header, .server-cards {
    width: 66.66666667% !important;
  }
}

@media (max-width: 992px) {
  
  #littleguy {
    display: none;
  }
}

@media (max-width: 1000px) {
  /* .server-cards {
    width: 66.66666667% !important
  } */
}

@media (min-width: 1200px) {
  .server-cards-header, .server-cards {
    width: 61.66666667% !important;
  }
  .server-cards { 
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 20px;
  } 
  
  .server-card {
    align-self: center;
  }

  .cornerguy {
    position: fixed;
    right: 0px;
    bottom: -5px;
    z-index: -1;
  }

  .cornerguy > img {
    object-fit: contain;
  }

  #littleguy {
    position: fixed;
    bottom: 0px;
    right: -99px;

    z-index: 20;

    animation: linear 1;
    animation-name: stroll;
    animation-duration: 20s;

    -webkit-animation: linear 1;
    -webkit-animation-name: stroll;
    -webkit-animation-duration: 20s;
  }

  @keyframes stroll {
    0% {
      right: -25;
    }
    100% {
      right: 100%;
    }
  }

  @-webkit-keyframes stroll {
    0% {
      right: -25;
    }
    100% {
      right: 100%;
    }
  }
}

/* Mumble embed */
.mumble-embed {
  font-family: verdana;
  font-size: 0.65rem;
  align-items: center;
  
  max-width: fit-content;
  color: black;
  font-smooth: never;
  padding: 0.13rem;
  margin-left: auto;
  background: silver url('./navbar_mask.png') repeat-x 0 0;
  border-top: 1px solid white;
  border-radius: 4px;
}
.mumble-embed-logo {
  max-width: 25px;
  flex: 0 1 auto;
  align-self: center;
}

.mumble-embed-indicator-funny {
  max-width: 50px;
  flex: 0 1 auto;
  align-self: center;
  padding-left: 0.4rem;
}

.mumble-embed-info {
  display: flex;
  align-items: center;
}
.mumble-embed-users {
  margin: 0;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.mumble-embed-indicator {
  padding-left: 0.4rem;
  padding-right: 0.2rem;
}
/* Error page */
.fit-cover {
  object-fit: cover;
}

td.text-muted > img {
  opacity: 50%;
}