#start {
    display: block;
    width: 159px;
    height: 34px;
    background: transparent url("../images/start_menu.png") no-repeat 0 0 ;
}

#start:hover {
    background-position-y: -34px;
}

#start:active {
    background-position-y: -68px;
}

@media (max-width: 992px) {
    #start {
        display: none;
    }
}