#mapSearchContainer {
    flex-direction: row !important;
}

/** Grid stuff I stole off somewhere else **/
.selection-grid {
    display: grid;
    gap: var(--var-grid-gap);
    font-size: 0px;
    text-align: center;
    grid-template-columns: repeat(auto-fill, minmax(var(--var-grid-card-width), 1fr));
}

.selection-grid-card {
    position: relative;
    margin: auto;
    width: var(--var-grid-card-width);
    height: var(--var-grid-card-height);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    will-change: transform;
    transform: translateZ(0);
}


/** Which are the width and height of the map previews **/
.selection-grid.map {
    --var-grid-gap: 0.6rem;
    --var-grid-card-width: 160px;
    --var-grid-card-height: 100px;
}

/** Card label stuff**/
/** The container for the label **/
.selection-grid-card .card-label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 26px;
    background-color: RGBA(var(--bs-dark-rgb));
    color: RGBA(var(--bs-light-rgb));
    border-radius: 0px 0px 8px 8px;
}

/** And the label itself**/
.selection-grid-card .card-label .label-text {
    text-align: center;
    padding: 0 .25rem;
    font-size: 1rem;
    font-weight: 400;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selection-grid-card:hover{
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.125);
}

.selection-grid-card:hover .card-img img, .selection-grid-card:focus .card-img img, .selection-grid-card:active .card-img img {
    filter: brightness(0.75);
    transform: scale(1.15);
    image-rendering: -webkit-optimize-contrast;
}


/**Card image stuff**/
/**For the container of the image**/
.selection-grid-card .card-img {
    position: absolute;
    width: var(--var-grid-card-width);
    height: var(--var-grid-card-height);
    top: 0;
    left: 0;
    border-radius: 10px;
    overflow: hidden;
    mask-image: linear-gradient(white, white);
    -webkit-mask-image: -webkit-linear-gradient(white, white);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .125);
}

/* For the image itself */
.selection-grid-card .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/* Selected cards*/
/* Inverts the text and background color*/
.selection-grid-card.selected .card-label {
    background-color: rgba(var(--bs-white-rgb));
    color: rgba(var(--bs-dark-rgb));
}

.selection-grid-card.selected {
    border-radius: 10px;
}

/**Pseudo element for the border**/
.selection-grid-card.selected::before {
    content: "";
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    /* border: 4px solid var(--bs-primary-border-subtle); */
    /*Technically it should use this, but it looks like shit, so we use the same color as the background color of the card label instead*/
    background-color: rgba(var(--bs-white-rgb));
    border-radius: 12px;
}

/** Funny lock height to viewport height **/
.screen-height {
    max-height: calc(100vh - 2rem - 58px);
    overflow: hidden;
}

/** We got a sidebar. Stolen, seems like it works without it, so maybe remove this class**/
.sidebar {
    position: sticky;
    position: -webkit-sticky;
}

/** Style specific to the map list **/
.map-list {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--bs-tertiary-color) rgba(0, 0, 0, 0);
    overflow-x: hidden;
}





/** Details card **/
/* Get rid of the nasty default double background and other shit on card headers*/
.card-header {
    background-color: rgba(0, 0, 0, 0);
    padding: .5rem;
    border-bottom: none;
    border-bottom: 0px;
    margin-bottom: 0px;
    position: relative;
    height: var(--kart-maps-header-height);
}

/** needed as otherwise the blur filter would also filter out the text**/
#map-dets-background {
    content: "";
    position: absolute;
    /* this is so stupid */
    height: calc(100% + 20px);
    width: calc(100% + 20px);
    margin: -20px 0px 0px -20px;
    background-image: url('../images/homebg.png');
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(2px);
}

/** fix the titles... **/
.title-text {
    z-index: 0;
    position: relative;
    text-transform: uppercase;
}

.dets-miniicon {
    height: 24px;
    padding-right: 8px;
}

#map-dets-title {
    color: black;
}

#map-dets-title::after {
    padding-right: .25rem !important;
    padding-left: .25rem !important;

    content: attr(level-title);
    /* Use the text content from the 'data-text' attribute */
    font-family: 'srb2k-normal', sans-serif;
    position: absolute;
    top: 2px;
    left: 0;
    color: white;
    /* Fill color for the text */
}

#map-dets-mapIdAndExtendedId {
    z-index: 0;
    position: relative;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px black;
}

#map-dets-minimap {
    z-index: 0;
    position: relative;
    /** Minimaps have a maximum size of 100px**/
    width: 100%;
    height: 100%;
    object-fit: contain;
    /*I shouldnt need this but for some fucking reason despite the height being 100% it fucking overflows outside the header, cant be fucking bothered to fix it*/
    max-height: var(--kart-maps-header-height);
}

/** I wish i had SCSS, right about now, and for everything below**/

.bg-skewed::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    transform: skewX(-15deg) !important;
    box-shadow: 0 0 1.5rem 1px #1a1a1a;

    /**Copied from bootstrap cards**/
    min-width: 0;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.bg-skewed.sharp-border-end::after{
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
}

.badge.record-badge-end {
    left: 103% !important;
}

.badge.record-badge-start {
    transform: translateX(5%) !important;
}

/**WHY COULDN'T THIS BE A SCSS???!?!?!?!?!?!?!?!?!?*/
.color-gamemode[gamemode="Tech" i]{
    color: var(--kart-color-tech);
}
.color-gamemode[gamemode="Nitro" i]{
    color: var(--kart-color-nitro);
}
.color-gamemode[gamemode="Juice" i]{
    color: var(--kart-color-juice);
}
.color-gamemode[gamemode="Rings" i]{
    color: var(--kart-color-rings);
}

.bg-color-gamemode[gamemode="Tech" i]::after {
    color: var(--kart-color-tech);
    background-color: var(--kart-background-tech);
}

.bg-color-gamemode[gamemode="Nitro" i]::after {
    color: var(--kart-color-nitro);
    background-color: var(--kart-background-nitro);
}

.bg-color-gamemode[gamemode="juice" i]::after {
    color: var(--kart-color-juice);
    background-color: var(--kart-background-juice);
}

.bg-color-gamemode[gamemode="rings" i]::after {
    color: var(--kart-color-rings);
    background-color: var(--kart-background-rings);
}

.bg-lowerborder-gamemode, .bg-lowerborder-gamemode::after {
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.bg-lowerborder-gamemode[gamemode="tech" i]::after {
    border-bottom-color: var(--kart-background-tech);
}

.bg-lowerborder-gamemode[gamemode="nitro" i]::after {
    border-bottom-color: var(--kart-background-nitro);
}

.bg-lowerborder-gamemode[gamemode="juice" i]::after {
    border-bottom-color: var(--kart-background-juice);
}

.bg-lowerborder-gamemode[gamemode="rings" i]::after {
    border-bottom-color: var(--kart-background-rings);
}

/** Override card stuff**/
.card.map-record {
    border: 0px;
}

:root {
    --kart-maps-header-height: 200px;
    --kart-background-tech: #4B5CC0;
    --kart-color-tech: white;
    --kart-background-juice: #31b13c;
    --kart-color-juice: white;
    --kart-background-nitro: #EA5858;
    --kart-color-nitro: white;
    --kart-background-rings: #f0ed62;
    --kart-color-rings: rgb(26, 26, 26);
}


/**Tooltip styles**/