<!DOCTYPE html>
<html lang="en">

    <%- include('../general/header', {'title': 'Home' }); -%>
    <head>
        <link rel="stylesheet" href="./stylesheets/past/home.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    </head>

    <body>
        <%- include('../general/navbar'); -%>
        <div id="home" class="element-center main-center">
            <div id="information">
                <div id="summary" class="article">
                    <div id="welcome-to-kartinvidya" class="welcome article-header">
                        <div id="welcome-message">
                            <span>Welcome to <strong>kartinvidya!</strong></span>
                        </div>
                        <div id="welcome-day">
                            <span></span>
                        </div>
                    </div>
                    <div id="replay">
                        <img src="./images/past/preview.gif"/>
                    </div>
                    <div id="welcome-message-info" class="welcome article-info">
                        <p style="text-align:center">
                            <strong>
                                Sonic Robo Blast 2 Kart.
                            </strong>
                        </p>

                        <p>A free, lightweight highly customizable kart racing game, based on the Sonic franchise.</p>
                        <p>
                            No two races are ever the same; one can be extremely goofy, whilst the other can be the most challenging, pushing your skills to the absolute limit.
                        </p>
                        <p>
                            Boasting hundreds of characters and maps to race on, you'll be spoiled for choice. And with the devoted community this game has built over the years, the amount of content is practically endless.
                        </p>
                    </div>
                </div>
                <div id="shoutouts">
                    <div class="article">
                        <div class="article-header good-news">
                            Want to get started?
                        </div>
                        <div class="banner">
                            <div class="article-info banner-just-info">
                                <span>
                                    To get started, click <a href="https://kartinvidya.me/guide/before-installing/" target="_blank">here</a> for more info. It only takes about <strong>200MB</strong> and <strong>five minutes</strong> of your time.
                                </span>
                                <p>Hope to see you on the race track!</p>
                            </div>
                        </div>
                    </div>
                    <%- include('news', {'news': news}); -%>
                    <div id="srb2" class="article">
                        <div class="article-header affilate">
                            Affilate
                        </div>
                        <div class="banner">
                            <div class="banner-image">
                                <img src="./images/past/srb2-banner.gif"/>
                            </div>
                            <div class="banner-info article-info">
                                <span>Why not give the sister game a <a href="srb2.org" target="_blank">try?</a></span>
                                <p>
                                    <strong>Sonic Robo Blast 2.</strong>
                                </p>
                                <p>
                                    A casual 3D platformer where Sonic and his friends embark on another adventure to stop the nefarious Dr. Robotnik!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../general/ads'); -%>

        <script lang="javascript">

            window.addEventListener('load', function() {
                document.querySelector("#welcome-day span").innerHTML = moment().format('dddd, LL');
            })
        </script>
    </body>
</html>