<div id="" class="article">
    <div class="article-header news">
        News
    </div>
    <div class="banner">
        <div class="banner-image">
            <img src="./images/past/<%- news.banner %>">
        </div>
        <div class="banner-info article-info">
            <span>
                <strong><%- news.date %></strong>
            </span>
            <%- news.description %>
        </div>
    </div>
</div>