<div class="element-center" id="funny-ads-container-parent">
    <div id="funny-ads-container">
        <img src="../images/past/ads/jesus-saviour.gif"/>
        <img src="../images/past/ads/srb2kart.gif"/>
        <img src="../images/past/ads/sonic-cd.gif"/>
    </div>
    <script lang="javascript">

        window.addEventListener('load', function() {
            const showAds = Math.floor(Math.random() * 100) <= 12;
            if (showAds) {
                const ads = ["4chan.gif", "demonstration.gif", "diddykong.gif", "dog.gif", "getthatman.gif", "mario.gif", "mcdonald.gif", "shadow.gif"]
                const adsContainer = document.createElement("div")
                adsContainer.id = "corner-ad"
                const randomAd = ads[Math.floor(Math.random()*ads.length)]
                const cornerAd = document.createElement("img")
                cornerAd.src = `../images/past/ads/${randomAd}`

                adsContainer.appendChild(cornerAd)
                document.querySelector("#funny-ads-container-parent").appendChild(adsContainer)
            }
        })
    </script>
</div>