<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../stylesheets/past/global.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="/srb2k/ website">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.kartinvidya.me/">
    <meta property="og:description" content="A website for /srb2k/.">
</head>