<div id="banner" class="element-center">
    <div id="banner-left">
        <div id="logo-container">
            <img id="logo" src="../images/Logo_small.png">
        </div>
        <div id="info">
            <ul>
                <li>Fast.</li>
                <li>Furious.</li>
                <li style="font-weight: bold">Free.</li>
            </ul>
        </div>
    </div>
    <div id="banner-right">
        <div id="get-started">
            <ul>
                <li>The best <strong>online</strong> Kart-racer available on PC.</li>
                <li>All built on top of the Doom Engine.</li>
                <li>Get started <a style="font-weight:bold" href="/guide" target="_blank">here.</a></li>
            </ul>
        </div>
    </div>
</div>
<header class="element-center">        
    <nav class="menu">
        <ul id="navbar-primary">
            <li class="navbar-link"><a href="/past">Home</a></li>
            <li class="navbar-link"><a href="/past/status">Status</a></li>
            <li class="navbar-link"><a href="/past/scoreboard">Scoreboard</a></li>
            <li class="navbar-link"><a href="/guide" target="_blank">Guide</a></li>
            <li class="navbar-link external-link"><a href="https://cytube.implying.fun/c/srb2k" target="_blank">CyTube</a></li>
            <li class="navbar-link external-link"><a href="https://discord.gg/c9STmNTJxZ" target="_blank">Discord</a></li>
        </ul>
        <ul id="navbar-secondary">
            <li class="navbar-link"><a href="/"><strong>Go back?</strong></a></li>
        </ul>
    </nav>
</header>