<!DOCTYPE html>
<html data-bs-theme="dark">    
    <head>
        <title>License - kartinvidya</title>

        <meta content="title" property="og:title" />
        <meta content="Kartin time" property="og:description" />
        <meta content="https://kartinvidya.me/license" property="og:url" />
        <meta content="https://kartinvidya.me/images/Logo.png" property="og:image" />
        <meta content="#43B581" data-react-helmet="true" name="theme-color" />

        <%- include('../general/head_generic'); -%>

        <!-- Page specific stylesheets + scripts -->
        <link rel='stylesheet' href='./stylesheets/license.css' />
        <link rel='stylesheet' href='./stylesheets/scoreboard.css' />
    </head>
    <body>
        <%- include('../general/nav'); -%>
        <div class="container-fluid pt-4 flex-column justify-content-center align-items-center" id="main-container">
            <div id="license-container" class="d-flex align-items-center flex-column">
                <div id="license-info-container" class="d-flex align-items-center flex-column">
                    <canvas id="licenseCanvas" width="462" height="192">

                    </canvas>
                    <form autocomplete="off" style="display: none !important;" class="d-flex searchBar" defaultbutton="searchButton"
                    onsubmit="lookupPlayer();return false">
                        <div class="autocomplete me-2">
                            <input id="playerSearch" class="form-control me-2" type="search" placeholder="Player Search"
                                aria-label="Search Players">
                        </div>
                        <button id="searchButton" class="btn btn-outline-success" type="submit"
                            onclick="lookupPlayer()">Search</button>
                        <span id="errMessage" class="form-text"
                            style="display: none; color: #d11525; margin-top:0.5rem;margin-left:5px;">Player not
                            found</span>
                    </form>

                    <div id="license-buttons-container" style="display: none;">
                        <hr/>
                        <p class="text-center">
                            <button class="btn btn-success" id="saveLicenseBtn" type="button">
                                Save License
                            </button>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#licenseOptionsCollapse" aria-expanded="false" aria-controls="licenseOptionsCollapse">
                                Customisation Options
                            </button>
                        </p>
                        <hr/>
                    <div>
                    <div class="collapse" id="licenseOptionsCollapse">
                        <div id="license-options-container" class="d-flex align-items-center flex-column" style="display: none !important">
                            <div id="license-avatar-container">
                                <div class="d-flex align-items-center">
                                    <h5 class="optionTitle">Avatar</h5>
                                    <div class="dropdown license-dropdown" id="avatar-toggle">
                                        <a class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                            Avatar
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end license-choice" id="license-avatar-choice">
                                            <li>
                                                <a class="dropdown-item active" aria-current="true" href="#" data-choice="default">Default</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#" data-choice="custom">Custom</a>
                                            </li>
                                        </ul>
                                    </div>   
                                </div>
                                <div id="avatar-default">
                                    <span>Your <span class="text-info">most used character</span> in the server.</span>
                                </div>
                                <div class="mb-3" id="avatar-loader-container" style="display: none;">
                                    <label for="avatarLoader" class="form-label">Upload a custom avatar:</label>
                                    <input class="form-control imageLoader" type="file" id="avatarLoader" name="avatarLoader" class="imageLoader" accept="image/png, image/jpeg">
                                </div>
                            </div>
        
                            <hr/>
        
                            <div id="license-background-container">
                                <div class="d-flex align-items-center">
                                    <h5 class="optionTitle">Background</h5>
                                    <div class="dropdown license-dropdown" id="avatar-toggle">
                                        <a class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                            Background
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end license-choice" id="license-background-choice">
                                            <li>
                                                <a class="dropdown-item active" aria-current="true" href="#" data-choice="default">Default</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#" data-choice="custom">Custom</a>
                                            </li>
                                        </ul>
                                    </div>   
                                </div>
                                
                                <div id="defaultBackgroundsContainer">
                                    <p>Choose a background:</p>
                                    <div id="defaultBackgrounds">
                                    </div>
                                </div>
                                
                                <div class="mb-3" id="background-loader-container" style="display: none;">
                                    <label for="backgroundLoader" class="form-label">Upload a custom background:</label>
                                    <input class="form-control imageLoader" type="file" id="backgroundLoader" name="backgroundLoader" class="imageLoader" accept="image/png, image/jpeg">
                                </div>
                            </div>
                        </div>
                        <hr/>
                    </div>
                    <div class="text-center">
                        <small class="text-muted">
                            Treat this as a work-in-progress.
                        </small>
                    </div>
                </div>

                <div id="spinner-container" class="d-flex justify-content-center m-1">
                    <img src="./images/spinner.gif"/>
                </div>
            </div>
        </div>
        <%- include('../general/invite_modal'); -%>
        <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
        <script src="./javascripts/license/license.js"></script>
    </body>
</html>