<!DOCTYPE html>
<html lang="en">

    <%- include('../general/header', {'title': 'Server Status' }); -%>

    <head>
        <link rel="stylesheet" href="../stylesheets/past/server_failed.css"/>
    </head>

    <body>
        <%- include('../general/navbar'); -%>

        <div id="sorry-container" class="element-center main-center">
            <div id="sorry">
                <div>
                    <img src="../images/past/its_over.png">
                </div>
                <div id="sorry-info">
                    <h1>Sorry!</h1>
                    <p>
                        Unfortunately, the service you're looking for is unavailable for the moment. 
                        Please try again soon.
                    </p>
                    <p>If this problem persists, please contact your nearest webmaster.</p>
                </div>
            </div>
        </div>
    </body>
</html>