<!DOCTYPE html>
<html lang="en">

    <%- include('../general/header', {'title': 'Server Status' }); -%>

    <head>
        <link rel="stylesheet" href="../stylesheets/past/servers.css"/>
    </head>

    <body>
        <%- include('../general/navbar'); -%>

        <div class="element-center main-center">
            <div class="server-container">
                <% if (header_image != '') { %>
                    <div class="funny-image">
                        <img src="<%- header_image %>">
                    </div>
                <% }%>
                <% if (server_data.length > 0){ %>
                    <% for(var i = 0; i < server_data.length; i++) { %>
                        <% if(server_data[i].error) { %>
                            <%- include('server-unreachable', {'data': server_data[i]}) %>
                        <% } else {%>
                            <%- include('server-table', {'data': server_data[i], 'idx': i}) %>
                        <% } %>
                    <%} %>
                <%}%>
            </div>
        </div>

        <%- include('../general/ads'); -%>
    </body>

    <script>
        const activePlayers = document.querySelectorAll(".server-player-count img.player-sphere")
        if (activePlayers) {
            for (let i=0; i < activePlayers.length; i++) {
                activePlayers[i].style.animationDelay = i*0.05 + 's'
            }
        }
    </script>
</html>