<div class="article server-table">
    <div class="server-unreachable-title article-header">
        <div class="server-name">
            <h2>
                <%- data['name'] %>
            </h2>
        </div>
        <div style="margin-left:auto">
            <img src="../images/CANT_REACH.png"/>
        </div>
    </div>
    <div class="server-summary">
        <div class="server-level-info">
            <span>
                This server is unreachable.
            </span>
            <span>
                <strong>
                    Is it even up?
                </strong>
            </span>
        </div>
        <div class="server-player-count">
            <img src="../images/past/its_not_up.png" class="impatient">
        </div>
    </div>
    <div class="server-small-summary-unreachable">
        <small>
            <span style="text-decoration: underline dotted;">
                <%= data.ip %>
            </span>
        </small>
    </div>
</div>