<div class="article server-table">
    <div class="server-title article-header">
        <div class="server-name">
            <h2>
                <%- data['name'] %>
            </h2>
        </div>
        <div class="join-button">
            <a class="button" href="srb2kart://ip/<%= data['info'].ip %>:<%= data['info'].port %>" title="Join the server">Play!</a>
        </div>
    </div>
    <div class="server-summary">
        <div class="server-level-info">
            <div class="map-thumbnail">
                <% var mapId = data['level'].mapid ? data['level'].mapid : 'NULL' %>
                <img src="../images/maps/<%- mapId %>P.png" onerror="this.src='../images/RANDOMLV.png'">
            </div>
            <div class="level-title">
                <span><%- data['level'].title %></span>
            </div>
            <div class="level-time">
                <img src="../images/past/stopwatch.png"/>
                <span><%- data['level'].time %></span>
            </div>
        </div>
        <div class="server-player-count">
            <% var isBattle = "Battle" == data['info'].gametype %>
            <% if(data['players'] && data['players'].length > 0) {%>
                <% for(var i = 0; i < data['players'].length; i++) { %>
                    <% if(isBattle) {%>
                        <img src="../images/sphere-battle.png" class="player-sphere">
                    <% } else { %>
                        <img src="../images/sphere.png" class="player-sphere">
                    <%}%>
                <%} %>
            <% }else { %>
                <img src="../images/past/im_waiting.gif" class="impatient">
            <%}%>
        </div>
    </div>

    <% if(data['players'] && data['players'].length > 0) {%>
        <% var players = data['players'] %>
        <hr/>
        <table class="server-players">
            <thead class="server-players-header">
                <th></th>
                <th>Player</th>
                <th>Score</th>
                <th>Time</th>
            </thead>
            <tbody>
                <% for(var key in players) { %>
                    <tr>
                        <td>
                            <%if (players.length > 3) {%>
                                <% if(key==0){%>
                                    <img src="../images/GOLD.png">
                                <% }%>
                                <% if(key==1){%>
                                    <img src="../images/SILVER.png">
                                <% }%>
                                <% if(key==2){%>
                                    <img src="../images/BRONZE.png">
                                <% }%>
                            <% } %>
                        </td>
                        <td><%- players[key]['name'] %></td>
                        <td><%- players[key]['score'] %></td>
                        <td><%- players[key]['time'] %></td>
                    </tr>
                <%} %>
            </tbody>
        </table>
    <%}%>

    <div class="server-small-summary">
        <small>
            <span>
                <%= data['players'].length %>/<%= data['info'].maxplayers %> players
            </span>
            <span>&#8226;</span>
            <span><%= data['info'].gametype %></span>
            <span>&#8226;</span>
            <span style="text-decoration: underline dotted;">
                <%= data['info'].ip %>
            </span>
        </small>
    </div>
</div>