<!DOCTYPE html>
<html>

    <head>
        <title>Server Status - kartinvidya</title>

        <!-- Page specific stylesheets + scripts -->
        <link rel='stylesheet' href='./stylesheets/servers.css' />
        <%- include('../general/head_generic'); -%>
    </head>

    <body>
        <%- include('../general/nav'); -%>
        <div class="jumbotron d-flex align-items-center api-error">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8">
                        <div class="card border-danger">
                            <div class="row g-0">
                                <div class="col-sm-4 position-relative">
                                    <img src="./images/ohno.jpg" class="card-img fit-cover w-100 h-100" alt="...">
                                </div>
                                <div class="col-sm-8 d-flex align-items-center">
                                    <div class="card-body">
                                        <h1 class="card-title text-danger">Oh, fuck.</h1>
                                        <p class="card-text">
                                            You got here <i>really</i> early. If so, <span class="text-success">refresh
                                                the page.</span>
                                        </p>
                                        <p class="card-text">
                                            If you're <span class="text-danger">still</span> seeing this, that means
                                            there's a problem with
                                            something in the backend.
                                        </p>
                                        <p class="card-text">
                                            Notify your nearest webmaster.
                                        </p>
                                        <p class="card-text">
                                            <small class="text-muted">(i.e. bump the thread.)</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../general/invite_modal'); -%>
    </body>
</html>