<!DOCTYPE html>
<html>

<head>
  <title>Server Status - kartinvidya</title>

  <meta content="Server Status - kartinvidya" property="og:title" />
  <meta content="<%- serverStatusMetaDescription %>" property="og:description" />
  <meta content="https://kartinvidya.me/status" property="og:url" />
  <meta content="https://kartinvidya.me/images/thereheis.png" property="og:image" />
  <meta property="og:type" content="website" />
  <meta content="#43B581" data-react-helmet="true" name="theme-color" />

  <!-- Floating UI for the easter egg -->
  <script src=".\floating-ui\core\dist\floating-ui.core.umd.js" defer></script>
  <script src=".\floating-ui\dom\dist\floating-ui.dom.umd.js" defer></script>
  <script type="module" src="./javascripts/floatingui-init.js" defer></script>

  <link rel='stylesheet' href='./stylesheets/servers.css' />
  <%- include('../general/head_generic'); -%>
    <!-- Page specific stylesheets + scripts -->
</head>

<body>
  <%- include('../general/nav'); -%>

    <div class="container-fluid pt-4">
      <div class="server-status-container row justify-content-center align-items-center">
        <div class="server-cards-header align-items-center pb-2 col-lg-5 col-12 d-flex">
          <div class="d-flex align-items-center">
            <% if(total_players > 0 && Math.random() <= 0.15) { %>
              <img src="./images/players_online.gif"/>
            <% } %>
            <span><strong><%= total_players %></strong> 
              <% if(total_players === 1) { %> 
                player 
              <% } else {%>
                players
              <% } %>
              racing.
            </span>
          </div>
          <div class="ms-auto">
            <%- include('mumble_status', {'data': mumble_data}) %>
          </div>
        </div>

        <div class="col-lg-5 col-12 server-cards">
          <% if (server_data.length> 0){ %>
            <% for(var i=0; i < server_data.length; i++) { %>

              <% if(server_data[i].error) { %>
                <%- include('server_unreachable', {'data': server_data[i], 'funnyError' : show_funny_error, 'idx': i}) %>
              <% } else {%>
                  <%- include('server', {'data': server_data[i], 'idx' : i}) %>
              <% } %>
            <%} %>
          <%}%>
        </div>
      </div>
    </div>
    <%- include('../general/invite_modal'); -%>
    <script>
      const headerImages = <%-JSON.stringify(headerImages)%>;
    </script>
    <script src="./javascripts/servers/servers-init.js"></script>
</body>

</html>