<a style="text-decoration: none" href="mumble://212.111.41.99:64738/Racing/?version=1.2.0" class="mumble-embed-container">
    <div class="mumble-embed d-flex">
        <img class="mumble-embed-logo" src="./images/mumble_logo.svg"/>
        <div class="mumble-embed-info">
            <% var usersOnline = (data.length > 0)%>
            <% var indicatorImage = (usersOnline) ? 'online-indicator.png' : 'offline-indicator.png'%>
            <% var showSillyTalking = Math.floor(Math.random() * 100) <= 5 %>
            <% if (usersOnline && showSillyTalking) { %>
                <img class="mumble-embed-indicator-funny" src="./images/talking.gif"/>
            <% } %>
            <img class="mumble-embed-indicator" src="./images/<%=indicatorImage%>"/>
            <p class="mumble-embed-users">
                <% if (usersOnline) { %>
                    <% var userString = (data.length > 1) ? 'users' : 'user' %>
                    <strong><%= data.length %></strong> <%- userString -%> online.
                <% } else { %>
                    <strong>0</strong> users online.
                <% } %>
            </p>
        </div>

    </div>
</a>