<div class="card-body server-card-body">
    <table class="table table-striped table-dark table-hover server-players" data-bs-theme="dark">
        <thead>
            <th scope="col" class="p-0"></th>
            <th scope="col" class="p-0">Player</th>
            <th scope="col" class="p-0">Score</th>
            <th scope="col" class="p-0">Time</th>
        </thead>
        <tbody>
        <% if(players && players.length > 0) {%>
            <% var skinsJson = (skins != '') ? JSON.parse(skins) : '' %>
            <% for(var key in players) { %>
                <tr <%if (skinsJson !=''){%> style="vertical-align: middle;" <%}%>>
                    <th scope="row" class="p-0 text-center">
                    <%if (players.length > 3) {%>
                        <% if(key==0){%>
                            <img src="./images/GOLD.png">
                        <% }%>
                        <% if(key==1){%>
                            <img src="./images/SILVER.png">
                        <% }%>
                        <% if(key==2){%>
                            <img src="./images/BRONZE.png">
                        <% }%>
                    <% } %>
                    </th>
                    <% var isTryHard = (players[key].score >= 1950) %>
                    <% var isSpectating = (players[key].team == 'Spectator') %>

                    <% var playerName = players[key]['name'] %>
                    <% var playerSkin = (skinsJson != '') ? skinsJson[playerName.toLowerCase()] : "" %>
                    <% if(isTryHard) {%>
                        <td class="p-0 tryhard">

                            <% if (skinsJson) { %>                             
                                <% if (playerSkin) { %>
                                    <img src="./images/licenses/ranks/<%=playerSkin%>_want.png" width="28" 
                                    onerror="this.src='./images/licenses/ranks/whoareyou.png'"/>
                                <% } else { %>
                                    <img src="./images/licenses/ranks/whoareyou.png" width="28"/>
                                <% } %>
                            <% } %>
                            <span data-floating-toggle="tooltip" data-floating-placement="top" data-floating-arrow="<div class='floating-arrow'></div>" data-floating-interactable> <img src='./images/tryhard_alert.gif' width='20'> TRYHARD ALERT <img src='./images/tryhard_alert.gif' width='20'> </span>
                                <%- playerName %>
                            </span>
                        </td>
                    <% } else { %>
                        <td class="p-0<%if(isSpectating){%> text-muted <%}%>">
                            <% if (skinsJson) { %>   
                                <% if (playerSkin) { %>
                                    <img src="./images/licenses/ranks/<%=playerSkin%>_want.png" width="28" 
                                    onerror="this.src='./images/licenses/ranks/whoareyou.png'"/>
                                <% } else { %>
                                    <img src="./images/licenses/ranks/whoareyou.png" width="28"/>
                                <% } %>
                            <% } %>
                            <%- playerName %>
                        </td>
                    <%}%>
                    </td>
                    <td class="p-0">
                        <%- players[key]['score'] %>
                    </td>
                    <td class="p-0">
                        <%- players[key]['time'] %>
                    </td>
                </tr>
            <%} %>
        <%}%>
        </tbody>
    </table>
</div>