<div class="card rounded server-card border-danger">
    <div class="card-header server-name-header " data-bs-toggle="collapse" href="#server_error_details_collapsible_<%=idx%>" role="button" aria-expanded="false" aria-controls="server_error_details_collapsible_<%=idx%>">
        <div class="text-danger server-name server-name">
            <%= data.name %>
        </div>
        <div class="ms-auto">
            <small>Unreachable server, expand for more information.</small>
        </div>
    </div>
    <% if(funnyError) { %>
        <div class="collapse" id="server_error_details_collapsible_<%=idx%>">
            <div class="card-header server-down-bad d-flex align-items-center justify-content-evenly flex-row" data-bs-theme="dark">
                <img src="./images/tumbleweed_question_mark.gif">
                <h2 class="tryhard" style="margin-left:auto;margin-right:auto">
                    SERVER'S DOWN
                </h2>
                <img src="./images/tumbleweed_question_mark.gif">
            </div>
        </div>
    <% } else { %>
        <div class="collapse" id="server_error_details_collapsible_<%=idx%>">
            <div class="card-header server-down d-flex flex-row align-items-center" data-bs-theme="dark">
                <div>
                    <img src="./images/itsover.png">
                </div>
                <div style="margin-left: auto; text-align: right">
                    <span>
                        It's down.
                    </span>
                    <br/>
                    <small class="text-muted">
                        <ul class="server-unreachable-info">
                            <li>Is the server running on a <img src="./images/neptune.png"> <a href="https://github.com/NepDisk/srb2k-neptune/releases">Neptune</a> client?</li>
                            <li>Have the neccessary ports been opened?</li>
                        </ul>
                    </small>
                </div>
            </div>
        </div>
    <%}%>
    <div class="card-footer" data-bs-theme="dark">
        <small class="text-muted">
            <span style="text-decoration: underline dotted;"><%= data.ip %>:<%= data.port %></span>
        </small>
    </div>
</div>

<script>
    const newLink = document.querySelector("h2.tryhard")
    if (newLink) {
        newLink.innerHTML = newLink.textContent.replace(/\S/g, "<span class='new-link-letter'>$&</span>")
        const letters = document.querySelectorAll(".new-link-letter")

        for (let i=0; i < letters.length; i++) {
            letters[i].style.animationDelay = i*0.09 + 's'
        }
    }
</script>