<div class="card rounded server-card">
    <div class="card-header server-name-header d-flex justify-content-center align-items-center" >
        <% var leFunnyServerName = Math.random() %>
        <% var showLeFunny = false %>

        <div class="w-100" data-bs-toggle="collapse" href="#server_details_collapsible_<%=idx%>" role="button" aria-expanded="false" aria-controls="server_details_collapsible_<%=idx%>">
            <div class="fw-bold server-name actual-server-name">
                <%var serverAddr = data['info'].ip %>
                <%if (!["eu.kartinvidya.me", "us.kartinvidya.me", "kart.weedl.es", "transcend.kartinvidya.me", "fkdx.inkpastel.com"].includes(serverAddr)) { %>
                    <%- data['info'].colorizedservername %>
                <% } else { %>
                    <%- data['name'] %>
                <% } %>
            </div>
            <div class="pt-1">
                <div class="server-name-mini-info">
                    <span>
                        <% if(data['info'].clientname.toLowerCase().includes("neptune")) {%>
                            <img src="./images/neptune.png">
                        <%}%>
                        <%= data['info'].clientname %>
                    </span>

                </div>
            </div>
        </div>
        <div class="ms-auto server-link server-name">
            <a href="srb2kart://ip/<%= data['info'].ip %>:<%= data['info'].port %>">🔗</a>
        </div>
    </div>

    <div class="collapse" id="server_details_collapsible_<%=idx%>">
        <div class="d-flex flex-row align-items-center server-level-player-info">
            <div class="p-2 flex-grow-1 w-100">
                <div class="d-flex flex-column justify-content-center">
                    <%- include('server_level', {'level': data['level']}) %>
                </div>
            </div>
            <div class="flex-shrink-1 d-flex flex-wrap justify-content-end gap-1 w-25 text-end players-spheres">
                <% var isBattle = "Battle" == data['info'].gametype %>
                <% if(data['players'] && data['players'].length > 0) {%>
                    <% const numberOfSpectators =  data['players'].reduce((acc, p) => acc + (p.team == 'Spectator'), 0); %>
                    <% for(var i = 0; i < numberOfSpectators; i++) { %>
                        <img src="./images/sphere-spectator.png" class="player-sphere-spectator player-sphere">
                    <%} %>
                    <% for(var i = 0; i < (data['players'].length - numberOfSpectators); i++) { %>
                        <% if(isBattle) {%>
                            <img src="./images/sphere-battle.png" class="player-sphere">
                        <% } else { %>
                            <img src="./images/sphere.png" class="player-sphere">
                        <%}%>
                    <%} %>
                <% }else { %>
                    <img src="./images/where_is_everyone.gif" class="no-one-is-here">
                <%}%>
            </div>
        </div>
        <%- include('players_table', {'players': data['players'], 'skins': data['skins']}) %>
    </div>
    <div class="card-footer" data-bs-theme="dark">
        <small class="text-muted">
            <% if(data['players'] && data['players'].length > 0) {%>
                <img style="vertical-align:middle" src="./images/sphere-online.png" class="player-sphere-online">
            <%}%>
            <span>
                <%= data['players'].length %>/<%= data['info'].maxplayers %> players
            </span>
            <span>&#8226;</span>
            <span><%= data['info'].gametype %></span>
            <span>&#8226;</span>
            <% if((data['gamemode'].gamemode != "" && data['gamemode'].gamemode != "Unknown Gamemode") && data['gamemode'].rounds > -1) {%>
                <span>&#8226;</span>
                <% var actualRoundsLeft = (data['gamemode'].rounds + 1) %>
                <span class="text-warning">
                    <%= data['gamemode'].gamemode %>
                </span>
                <span>&#8226;</span>
                <span class="text-warning">
                    <%=actualRoundsLeft%> round(s) left
                </span>
                <span>&#8226;</span>
            <%}%>
            <span style="text-decoration: underline dotted;"><%= data['info'].ip %>:<%= data['info'].port %></span>
        </small>
    </div>
</div>