<div class="d-flex flex-column server_details pt-1">                    
    <div class="d-flex server-level">
        <img title="<%- level.mapid %>" src="./images/maps/<%- level.mapid %>P.png" onerror="this.src='./images/RANDOMLV.png'">
    </div>
    <div class="d-flex pt-1"> 
        <span class="level-title"><%- level.title %></span>
    </div>
    <div class="d-flex flex-row align-items-center">
        <div class="d-flex align-self-start pe-1">
            <img src="./images/STOPWATCH.png" width="20">
        </div>
        <span class="level-time">
            <%- level.time %>
        </span>
    </div>
</div>