<!DOCTYPE html>
<html data-bs-theme="dark">

    <head>
        <title>Player Data - kartinvidya</title>

        <meta content="title" property="og:title" />
        <meta content="Kartin time" property="og:description" />
        <meta content="https://kartinvidya.me/scoreboard" property="og:url" />
        <meta content="https://kartinvidya.me/images/Logo.png" property="og:image" />
        <meta content="#43B581" data-react-helmet="true" name="theme-color" />
        <meta name="twitter:card" content="summary">

        <!-- Page specific stylesheets + scripts -->
        <%- include('../general/head_generic'); -%>
        <link rel='stylesheet' href='./stylesheets/scoreboard.css' />
    </head>
    
    <body>
        <%- include('../general/nav'); -%>
        <div class="text-center text-muted p-2">
            <small>
                Full credit to <strong>Onyo</strong> for this page.
            </small>
        </div>
        <div class="container" style="margin-top:1em; margin-bottom:1em;">
            <div class="d-flex p-3 align-items-center" id="playerSearchContainer">
                <form autocomplete="off" class="d-flex searchBar" defaultbutton="searchButton"
                    onsubmit="lookupPlayer();return false">
                    <div class="autocomplete me-2">
                        <input id="playerSearch" class="form-control me-2" type="search" placeholder="Player Search"
                            aria-label="Search Players">
                    </div>
                    <button id="searchButton" class="btn btn-outline-success" type="submit"
                        onclick="lookupPlayer()">Search</button>
                    <span id="errMessage" class="form-text"
                        style="display: none; color: #d11525; margin-top:0.5rem;margin-left:5px;">Player not
                        found</span>
                </form>
                <div class="dropdown" id="server-toggle">
                    <a class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        Server
                    </a>
                    <ul class="dropdown-menu" id="server-dropdown-menu">
                        <li>
                            <a class="dropdown-item active" aria-current="true" href="#" data-server-select="usa">Burger 🍔</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" data-server-select="eu">Tea ☕</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="spinner-container" class="d-flex justify-content-center m-5">
                <img src="./images/spinner.gif"/>
            </div>

            <div class="row" id="scoreboard-container" style="display: none;">
                <div class="col-lg-4 col-12">
                    <!--Wins-->
                    <h1 class="display-6 text-center">Wins</h1>
                    <ol class="list-group" id="winLeaderboard">

                    </ol>
                </div>
                <div class="col-lg-4 col-12">
                    <!--Vanilla/Tech-->
                    <h1 class="display-6 text-center">Vanilla/Tech</h1>
                    <ol class="list-group" id="vanillaKS">

                    </ol>
                </div>
                <div class="col-lg-4 col-12">
                    <!--Win-->
                    <h1 class="display-6 text-center">Win%</h1>
                    <ol class="list-group" id="WinPer">

                    </ol>
                </div>
                <div class="col-lg-4 col-12">
                    <!--Nitro-->
                    <h1 class="display-6 text-center">Nitro</h1>
                    <ol class="list-group" id="nitroKS">

                    </ol>
                </div>
                <div class="col-lg-4 col-12">
                    <!--Podium-->
                    <h1 class="display-6 text-center">Podium%</h1>
                    <ol class="list-group" id="PodiumPer">

                    </ol>
                </div>
                <div class="col-lg-4 col-12">
                    <!--Map Records-->
                    <h1 class="display-6 text-center">Map Records</h1>
                    <ol class="list-group" id="MapRecords">

                    </ol>
                </div>
            </div>
        </div>

        <!--Player info modal-->
        <div id="playerCard" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="player-card-modal modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div id="playerNameContainer">
                            <h5 class="modal-title" id="modalPlayerName">Player Name</h5>
                            <h6 class="modal-title" id="playerTotalPlaytime">0 hours, 0 minutes (approx.)</h6>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs" id="op2Tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="overview-tab" data-bs-toggle="tab"
                                    data-bs-target="#overview" type="button" role="tab" aria-controls="overview"
                                    aria-selected="true">Overview</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="details-tab" data-bs-toggle="tab" data-bs-target="#details"
                                    type="button" role="tab" aria-controls="details"
                                    aria-selected="false">Details</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="tabParent">
                            <div class="tab-pane fade show active" id="overview" role="tabpanel"
                                aria-labelledby="overview-tab">
                                <div class="row"
                                    style="border-left: 1px solid #515151; border-right: 1px solid #515151; border-bottom: 1px solid #515151;">
                                    <div class="col-12 text-center" style="margin-top: 0.5em;">
                                        <div class="row" style="align-items: center;">
                                            <div class="col">
                                                <div class="row" style="align-items: center;">
                                                    <div class="col" style="padding:0;">
                                                        <img src="./images/scoreboard/gold.png" width="50" height="50"
                                                            class="img-fluid" />
                                                    </div>
                                                </div>
                                                <div class="row" style="align-items: center;">
                                                    <div class="col" style="padding:0;">
                                                        <h5 id="goldStat" class="phonetext">9,999,999</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="row" style="align-items: center;">
                                                    <div class="col" style="padding:0;">
                                                        <img src="./images/scoreboard/silver.png" width="50" height="50"
                                                            class="img-fluid" />
                                                    </div>
                                                </div>
                                                <div class="row" style="align-items: center;">
                                                    <div class="col" style="padding:0;">
                                                        <h5 id="silverStat" class="phonetext">9,999,999</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="row" style="align-items: center;">
                                                    <div class="col" style="padding:0;">
                                                        <img src="./images/scoreboard/copper.png" width="50" height="50"
                                                            class="img-fluid" />
                                                    </div>
                                                </div>
                                                <div class="row" style="align-items: center;">
                                                    <div class="col" style="padding:0;">
                                                        <h5 id="bronzeStat" class="phonetext">9,999,999</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="align-items: center;margin-bottom: 0.5em;">
                                            <div class="progress" style="height: 25px; padding: 0;">
                                                <div id="barGold" class="progress-bar" role="progressbar"
                                                    style="width: 10%; background-color: #f9e911;" aria-valuenow="10"
                                                    aria-valuemin="0" aria-valuemax="100">
                                                    <h6 id="perGold" class="h6longtext"
                                                        style="margin-bottom: 0;color: #000;">10%</h6>
                                                </div>
                                                <div id="barSilver" class="progress-bar" role="progressbar"
                                                    style="width: 15%; background-color: #9c9daa;" aria-valuenow="15"
                                                    aria-valuemin="0" aria-valuemax="100">
                                                    <h6 id="perSilver" class="h6longtext"
                                                        style="margin-bottom: 0; color: #000;">15%</h6>
                                                </div>
                                                <div id="barBronze" class="progress-bar" role="progressbar"
                                                    style="width: 20%; background-color: #d98846;" aria-valuenow="20"
                                                    aria-valuemin="0" aria-valuemax="100">
                                                    <h6 id="perBronze" class="h6longtext"
                                                        style="margin-bottom: 0; color: #000;">20%</h6>
                                                </div>
                                                <div id="barTotal" class="progress-bar" role="progressbar"
                                                    style="width: 55%; background-color: #3070d9;" aria-valuenow="55"
                                                    aria-valuemin="0" aria-valuemax="100">
                                                    <h6 id="raceTotal" class="h6longtext" style="margin-bottom: 0;">
                                                        9,999,999 Races</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="align-items: center;">
                                            <div class="col">
                                                <div class="row" style="align-items: center;">
                                                    <div class="col">
                                                        <img src="./images/scoreboard/Sonic-Robo-Blast-2-Kart-logo.png"
                                                            title="Vanilla" alt="Vanilla" width="50" height="50"
                                                            class="img-fluid" />
                                                    </div>
                                                </div>
                                                <div class="row" style="align-items: center;">
                                                    <div class="col">
                                                        <h5 id="ksVanilla">9999</h5>
                                                        <h6 id="ksVanillaBest" class="card-subtitle mb-2 text-muted">
                                                            Best 9999</h6>
                                                        <h6 id="ksVanillaRank" class="card-subtitle mb-2 text-muted">
                                                            Rank 9999</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="row" style="align-items: center;">
                                                    <div class="col">
                                                        <img src="./images/scoreboard/2691.jpg" title="Juice"
                                                            alt="Juice" width="50" height="50" class="img-fluid" />
                                                    </div>
                                                </div>
                                                <div class="row" style="align-items: center;">
                                                    <div class="col">
                                                        <h5 id="ksJuice">9999</h5>
                                                        <h6 id="ksJuiceBest" class="card-subtitle mb-2 text-muted">Best
                                                            9999</h6>
                                                        <h6 id="ksJuiceRank" class="card-subtitle mb-2 text-muted">Rank
                                                            9999</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="row" style="align-items: center;">
                                                    <div class="col">
                                                        <img src="./images/scoreboard/K_ITSHOE2.png" title="Nitro"
                                                            alt="Nitro" width="50" height="50" class="img-fluid" />
                                                    </div>
                                                </div>
                                                <div class="row" style="align-items: center;">
                                                    <div class="col">
                                                        <h5 id="ksNitro">9999</h5>
                                                        <h6 id="ksNitroBest" class="card-subtitle mb-2 text-muted">Best
                                                            9999</h6>
                                                        <h6 id="ksNitroRank" class="card-subtitle mb-2 text-muted">Rank
                                                            9999</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="row" style="align-items: center;">
                                                    <div class="col">
                                                        <img src="./images/scoreboard/combiplaceholder.png"
                                                            title="Combi-Ring" alt="Combi-Ring" width="50" height="50"
                                                            class="img-fluid" />
                                                    </div>
                                                </div>
                                                <div class="row" style="align-items: center;">
                                                    <div class="col">
                                                        <h5 id="ksCombi">9999</h5>
                                                        <h6 id="ksCombiBest" class="card-subtitle mb-2 text-muted">Best
                                                            9999</h6>
                                                        <h6 id="ksCombiRank" class="card-subtitle mb-2 text-muted">Rank
                                                            9999</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="row" style="align-items: center;">
                                                    <div class="col">
                                                        <img src="./images/scoreboard/ring.png" title="Rings"
                                                            alt="Rings" width="50" height="50" class="img-fluid" />
                                                    </div>
                                                </div>
                                                <div class="row" style="align-items: center;">
                                                    <div class="col">
                                                        <h5 id="ksRing">9999</h5>
                                                        <h6 id="ksRingBest" class="card-subtitle mb-2 text-muted">Best
                                                            9999</h6>
                                                        <h6 id="ksRingRank" class="card-subtitle mb-2 text-muted">Rank
                                                            9999</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
                                <div class="row"
                                    style="padding: 0; border-left: 1px solid #515151; border-right: 1px solid #515151; border-bottom: 1px solid #515151;">
                                    <div class="col col-no-padding border-right text-center">
                                        <div class="col-header" style="border-bottom: 1px solid #515151">
                                            Overall
                                        </div>
                                        <div class="row ks-576">
                                            <div class="col col-sm-6 tBorderRight">
                                                <p>Races</p>
                                                <h5 id="dRaces">9,999,999</h5>
                                            </div>
                                            <div class="col col-sm-6">
                                                <p>Wins</p>
                                                <h5 id="dWins">9,999,999</h5>
                                            </div>
                                        </div>
                                        <div class="row ks-576 tBorderTop">
                                            <div class="col col-sm-12">
                                                <p>Win Percent</p>
                                                <h5 id="dWinPercent">99.99%</h5>
                                            </div>
                                        </div>
                                        <div class="row ks-1440">
                                            <div class="col tBorderRight">
                                                <p>Races</p>
                                                <h5 id="dRaces2">9,999,999</h5>
                                            </div>
                                            <div class="col tBorderRight">
                                                <p>Wins</p>
                                                <h5 id="dWins2">9,999,999</h5>
                                            </div>
                                            <div class="col">
                                                <p>Win Percent</p>
                                                <h5 id="dWinPercent2">99.99%</h5>
                                            </div>
                                        </div>
                                        <div class="row ks-576 tBorderTop">
                                            <div class="col col-sm-6 tBorderRight">
                                                <p class="longtext">Second Places</p>
                                                <h5 id="dSecond">9,999,999</h5>
                                            </div>
                                            <div class="col col-sm-6">
                                                <p>Third Places</p>
                                                <h5 id="dThird">9,999,999</h5>
                                            </div>
                                        </div>
                                        <div class="row ks-576 tBorderTop">
                                            <div class="col col-sm-12">
                                                <p class="longtext">Podium Percent</p>
                                                <h5 id="dPodium">99.99%</h5>
                                            </div>
                                        </div>
                                        <div class="row ks-1440 tBorderTop">
                                            <div class="col tBorderRight">
                                                <p class="longtext">Second Places</p>
                                                <h5 id="dSecond2">9,999,999</h5>
                                            </div>
                                            <div class="col tBorderRight">
                                                <p>Third Places</p>
                                                <h5 id="dThird2">9,999,999</h5>
                                            </div>
                                            <div class="col">
                                                <p class="longtext">Podium Percent</p>
                                                <h5 id="dPodium2">99.99%</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-no-padding text-center">
                                        <div class="col-header" style="border-bottom: 1px solid #515151">
                                            Item Hits
                                        </div>
                                        <div class="row ks-576">
                                            <div class="col col-sm-12">
                                                <p>Hits</p>
                                                <h5 id="dHits">9,999,999</h5>
                                            </div>
                                        </div>
                                        <div class="row ks-576 tBorderTop">
                                            <div class="col col-sm-12">
                                                <p class="longtext">Self/Environment Hits</p>
                                                <h5 id="dSelf">9,999,999</h5>
                                            </div>
                                        </div>
                                        <div class="row ks-1440">
                                            <div class="col tBorderRight">
                                                <p>Hits</p>
                                                <h5 id="dHits2">9,999,999</h5>
                                            </div>
                                            <div class="col">
                                                <p class="longtext">Self/Environment Hits</p>
                                                <h5 id="dSelf2">9,999,999</h5>
                                            </div>
                                        </div>
                                        <div class="row ks-576 tBorderTop">
                                            <div class="col col-sm-6 tBorderRight">
                                                <p>Spun Out</p>
                                                <h5 id="dSpin">9,999,999</h5>
                                            </div>
                                            <div class="col col-sm-6">
                                                <p>Exploded</p>
                                                <h5 id="dExploded">9,999,999</h5>
                                            </div>
                                        </div>
                                        <div class="row ks-576 tBorderTop">
                                            <div class="col col-sm-12">
                                                <p>Squished</p>
                                                <h5 id="dSquish">9,999,999</h5>
                                            </div>
                                        </div>
                                        <div class="row ks-1440 tBorderTop">
                                            <div class="col tBorderRight">
                                                <p>Spun Out</p>
                                                <h5 id="dSpin2">9,999,999</h5>
                                            </div>
                                            <div class="col tBorderRight">
                                                <p>Exploded</p>
                                                <h5 id="dExploded2">9,999,999</h5>
                                            </div>
                                            <div class="col">
                                                <p>Squished</p>
                                                <h5 id="dSquish2">9,999,999</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../general/invite_modal'); -%>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="./javascripts/scoreboard/playerScript.js"></script>
    </body>
</html>